$color-text:#333333;
$color-breadcrumb:#777777;
$bg-gray:#E9E9EB;
$brand:#E66B4B;
$font-primary: 'SF Pro Display Regular';

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?pa09z1');
	src:  url('../fonts/icomoon.eot?pa09z1#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?pa09z1') format('truetype'),
	  url('../fonts/icomoon.woff?pa09z1') format('woff'),
	  url('../fonts/icomoon.svg?pa09z1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-taikhoan:before {
	content: "\e900";
  }
  .icon-taixuong:before {
	content: "\e901";
  }
  .icon-theodoi:before {
	content: "\e902";
  }
  .icon-search:before {
	content: "\e905";
	color: #777;
  }
  .icon-trl-nx:before {
	content: "\e907";
	color: #ed624f;
  }
  .icon-cmt:before {
	content: "\e90f";
	color: #777;
  }
  .icon-icon-post:before {
	content: "\e90d";
	color: #c4c4c4;
  }
  .icon-like:before {
	content: "\e909";
	color: #777;
  }
  .icon-share:before {
	content: "\e90b";
	color: #777;
  }
@font-face {
	font-family: 'SF Pro Display Black';
	src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Bold';
	src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display BlackItalic';
	src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display BoldItalic';
	src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Heavy';
	src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display HeavyItalic';
	src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display LightItalic';
	src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Medium';
	src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Light';
	src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display MediumItalic';
	src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Regular';
	src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display RegularItalic';
	src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display SemiboldItalic';
	src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Semibold';
	src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Thin';
	src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display ThinItalic';
	src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display UltralightItalic';
	src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Ultralight';
	src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
.set-min-height{
	min-height: 950px;
	@media only screen and (max-width: 1400px){
		min-height: 600px;
	}
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.fade:not(.show) {
	opacity: 1;
}

body {
	background: #F9F9F9;
	font-family: $font-primary;
}

@mixin hover {
	&:hover,
	&:focus {
		color: $brand;
		text-decoration: none;
		outline: none;
	}
}
@mixin hover1{
    &:hover{
        background-color: #F7C24A;
        color: white;
    }
    &:focus {
		color: $brand;
		text-decoration: none;
		outline: none;
	}
}
@mixin bg-border {
	overflow: hidden;
	margin: 20px 0;
	background: #FFFFFF;
	border: 1px solid #E9E9EB;
	border-radius: 6px;
}

@mixin tieu-de {
	font-weight: 700;
	color: $color-text;
	font-size: 16px;
}

@mixin mo-ta {
	color: $color-text;
	font-size: 14px;
}

.item-box {
	.img-post {
		width: 100%;
		border-radius: 8px;
	}
	.mo-ta {
		line-height: 25px;
		margin-top: 5px;
		padding-left: 15px;
		padding-right: 20px;
		@include mo-ta();
		p{
			margin: 5px;
		}
	}
	.title-post {
		.icon-icon-post {
			font-size: 5px;
		}
		position: relative;
		width: 100%;
		padding: 20px 20px 0 20px;
		display: inline-flex;
		img {
			width: 40px;
			height: 40px;
			border-radius: 100px;
		}
		.tieu-de {
			margin: 5px 15px 0;
			@include tieu-de();
			a{
				font-weight: 700;
				color: #333333;
				font-size: 16px;
				text-decoration: none;
			}
		}
		.time {
			margin-top: 4px;
			color: $color-breadcrumb!important;
			@include mo-ta();
		}
		.dropdown.more-action {
			font-size: 20px;
			cursor: pointer;
			right: 2%;
			top: 20%;
			position: absolute;
			.dropdown-content {
				display: block;
				right: 0;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				overflow: auto;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				z-index: 1;
				a {
					color: $color-text;
					padding: 10px 15px;
					text-decoration: none;
					display: block;
					font-size: 14px;
					&:hover {
						@include hover();
					}
				}
			}
		}
	}
	.tuongtac {
		display: inline-flex;
		padding: 10px 0 15px 15px;
		a {
			font-size: 14px;
			color: $color-breadcrumb;
			margin-right: 40px;
			@include hover();
			i {
				font-size: 16px;
				margin: 0 5px;
			}
		}
	}
	.binhluan {
		padding: 15px;
		border-left: none;
		border-right: none;
		border-top: 1px solid #E9E9EB;
	}
	.binhluan {
		position: relative;
		i {
			margin-right: 5px;
		}
		p {
			cursor: pointer;
		}
		.mo-ta {
			.arrow_carrot-down {
				font-size: 18px;
			}
			padding-left: 56px;
		    margin-top: -15px;
			p {
				
				margin: 3px 0;

			}
			a {
				color: $color-breadcrumb;
				font-size: 12px;
				text-decoration: none;
			}
			.ykien {
				padding: 0px;
				border: 1px solid #E9E9EB;
				border-radius: 6px;
			}
		}
		.title-post {
			padding: 0;
		}
		.like {
			color: $color-breadcrumb;
			text-decoration: none;
			display: grid;
			position: absolute;
			right: 2%;
			top: 27%;
			font-size: 13px;
		}
	}
	.traloi-BL {
		display: flex;
		img {
			padding: 5px;
			width: 35px;
			height: 35px;
			border-radius: 100px;
		}
		input {
			outline: none;
			width: 90%;
			border: 1px solid #E9E9EB;
			background-color: #F9F9F9;
			padding: 5px;
			color: $color-breadcrumb;
		}
	}
	.ykien {
		display: flex;
		background-color: #F9F9F9;
		border-top: 1px solid #E9E9EB;
		padding: 15px;
		input {
			border: 0;
			outline: none;
			width: 90%;
			border: 0;
			background-color: transparent;
			margin-left: 10px;
			color: $color-breadcrumb;
		}
	}
}

.item-box {
	@include bg-border();
}

.hoidap {
	margin-top: 30px;
	color: $color-text;
	font-size: 26px;
	font-weight: bold;
	font-family: $font-primary;
}

@mixin btn-common {
	background-color: $brand;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 28px;
	border-radius: 0;
	/* width: 150px; */
	min-width: 150px;
}

/* MODAL */

	.modal-danhgia {
		.modal-dialog {
			height: 100vh;
			position: absolute;
		}
		.modal-header {
			display: block;
			.close {
				float: left;
				font-size: 38px;
				font-weight: normal;
				margin-right: 20px;
				&:hover {
					outline: 0;
				}
			}
		}
		.modal-title {
			color: $color-text!important;
			font-size: 26px!important;
		}
		span {
			color: $color-text;
			font-size: 16px;
			margin: 10px;
		}
		.modal-dialog {
			transform: translate(0, 0%)!important;
			margin: 0;
			.modal-content {
				height: 100vh;
				width: 833px;
				background-color: #F9F9F9;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				.btn-vietdanhgia {
					@include btn-common();
					margin-left: 15px;
					background-color: #C4C4C4;
				}
				.tieude-modal {
					display: flex;
				}
			}
		}
		.modal-body {
			.list-star {
				display: flex;
				margin: 15px 15px 0;
			}
			.bg-star {
				margin-right: 3px;
				background: #c4c4c4;
				border-radius: 1px;
				padding: 9px;
				&:hover {
					background-color: $brand;
				}
			}
			.vietdanhgia {
				overflow: hidden;
				textarea {
					height: 125px;
					outline: none;
					margin-top: 20px;
					padding: 15px 20px;
					width: 100%;
					border: 1px solid #E9E9EB;
					border-radius: 6px;
				}
				.gui-danhgia {
					float: right;
					margin-top: 15px;
					margin-bottom: 25px;
					.btn-guidanhgia {
						margin-left: 10px;
						@include btn-common();
						&:hover{
							background-color: #F7C24A;
							color: white;
						}
					}
				}
			}
			.tuongtac {
				a {
					color: $color-breadcrumb;
					margin: 0 15px 0 0;
					span {
						font-size: 14px;
						margin: 0;
					}
				}
			}
			.item-box {
				.binhluan {
					border-top: 0;
				}
				.list-star {
					.bg-star {
						padding: 2px!important;
					}
				}
				.mo-ta {
					.traloi-NX {
						a {
							color: $brand;
						}
					}
					p {
						margin-bottom: 0;
						display: flex;
						a {
							display: block;
							position: unset;
							span {
								margin-left: 0;
								font-size: 14px;
								color: $color-breadcrumb;
							}
						}
					}
				}
			}
			.xemthem-danhgia {
				@include btn-common();
				font-size: 14px;
				/* width: 195px; */
				min-width: 150px;
				color: #333333;
				background-color: #ffffff;
				border: 1px solid #E9E9EB;
				position: absolute;
				bottom: 20px;
				-ms-transform: translateY(-50%);
				transform: translateX(150%);
				&:focus {
					outline: none;
				}
			}
		}
	}


.modal-post {
	.modal-content {
		height: 100%;
		width: 100%;
		background-color: #000000;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		.modal-body {
			height: 100%;
			padding: 0 20px;
		}
		.item-box {
			margin: 0;
			height: 100%;
			.ykien {
				outline: none;
				background-color: transparent;
				border: 0;
				input {
					border: 1px solid #E9E9EB;
					background-color: #f9f9f9;
					padding: 10px;
				}
			}
		}
		.modal-header {
			position: fixed;
			z-index: 99;
			border: 0;
			display: block;
			.close {
				float: left;
				font-size: 38px;
				font-weight: normal;
				color: white;
				&:focus {
					outline: none;
				}
			}
		}
	}
	.modal-dialog {
		transform: translate(0, -26px)!important;
		height: 100vh;
		position: absolute;
		width: 100%;
		max-width: 100%;
	}
}

.scrollbar-danhgia {
	overflow: scroll;
	height: 565px;
	.item-box:first-child {
		margin-top: 0;
	}
}

#style-4::-webkit-scrollbar {
	width: 2px;
}

#style-4::-webkit-scrollbar-thumb {
	background-color: $brand;
}


/* xem tat ca hinh anh */

@mixin slide-img {
	#sync1 {
		.item {
			background: #0c83e7;
			padding: 80px 0px;
			margin: 5px;
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
		}
	}
	#sync2 {
		.item {
			background: #C9C9C9;
			padding: 10px 0px;
			margin: 5px;
			color: #FFF;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-align: center;
			cursor: pointer;
			h1 {
				font-size: 18px;
			}
		}
		.current .item {
			background: #0c83e7;
		}
	}
	.owl-theme {
		.owl-nav {
			/*default owl-theme theme reset .disabled:hover links */
			[class*='owl-'] {
				transition: all .3s ease;
				&.disabled:hover {
					background-color: #D6D6D6;
				}
			}
		}
	}
	//arrows on first carousel
	#sync1.owl-theme {
		position: relative;
		.owl-next,
		.owl-prev {
			width: 22px;
			height: 40px;
			margin-top: -20px;
			position: absolute;
			top: 50%;
		}
		.owl-prev {
			left: 10px;
		}
		.owl-next {
			right: 10px;
		}
	}
}

.slide-img {
	@include slide-img();
	.modal-dialog {
		position: unset;
	}
}


/* end xem tat ca hinh anh */

.modal-backdrop.in {
	opacity: 0.8;
}

.chitiet-vbpl {
	border-bottom: 0!important;
}

.center-document {
	.suggest-ls {
		.list-ls {
			border-bottom: 0!important;
		}
	}
}


/* edit home*/

.menu-left {
	margin: 20px 0;
	ul {
		padding: 0;
		li {
			list-style: none;
			margin: 30px 0;
			&.active {
				a {
					color: $brand;
				}
			}
			i {
				margin-right: 10px;
			}
			a {
				white-space: nowrap;
				text-decoration: none;
				color: $color-text;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}

.center-home {
	.stt {
		textarea {
			position: relative;
			height: 75px;
			outline: none;
			padding: 15px 15px 15px 70px;
			width: 100%;
			border: 0;
			border-bottom: 1px solid #E9E9EB;
			&::placeholder {
				color: $color-breadcrumb;
			}
		}
		.ava-post {
			position: absolute;
			left: 30px;
			top: 35px;
		}
		.action-post {
			overflow: hidden;
			padding: 10px 20px;
			p {
				float: left;
			}
			a {
				margin: 10px;
			}
			button {
				float: right;
				background: rgba(230, 107, 75, 0.5);
				border-radius: 40px;
				color: #fff;
				border: 0;
				padding: 10px 30px;
			}

		}
	}
	.td-timkiem {
		margin-top: 20px;
	}
	.suggest-ls {
		.xemthem-ls {
			text-align: center;
			color: $brand;
			display: block;
			padding: 0px 0 20px 0;
			text-decoration: none;
		}
		.list-ls {
			border-bottom: 1px solid #E9E9EB;
		}
		.list-right {
			h4 {
				padding-left: 20px;
				font-size: 26px;
			}
			ul {
				padding-left: 20px;
				.tongnx {
					color: $color-breadcrumb;
					text-decoration-line: underline;
					font-size: 13px;
					margin-left: 5px;
				}
				.ten {
					font-weight: bold;
				}
				.diachi {
					margin-top: -5px;
					color: $color-breadcrumb;
				}
			}
		}
	}
	.list-news {
		ul {
			overflow: hidden;
			li {
				min-height: 92px;
			}
			img {
				position: absolute;
				right: 15px;
				width: 160px;
				height: 90px;
			}
			h5{
				margin-top: 0;
				a {
					padding-left: 0;
					font-size: 14px;
					font-weight: 700;
				}
			}
			.mota-tt {
				
					font-size: 14px;
				
				padding-left: 0;
				color: $color-breadcrumb;
				font-weight: normal;
				a{
					color: $color-breadcrumb;
					display: revert;
				}
			}
		}
		p {
			i {
				margin-right: 0;
			}
		}
		;
	}
}

.list-right {
	margin: 20px 0;
	border-bottom: 1px solid #E9E9EB;
	p {
		padding-left: 35px;
		color: $color-text;
		font-size: 18px;
		font-weight: 700;
		span {
			color: $brand;
		}
		i {
			font-size: 20px;
			margin-right: 5px;
		}
	}
	ul {
		li {
			list-style: none;
			margin: 30px 0;
			a {
				color: $color-text;
				line-height: 24px;
				text-decoration: none;
				font-size: 14px;
				display: flex;
				img {
					margin-right: 15px;
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

.list-ls {
	border-bottom: 0;
	ul {
		li {
			margin: 15px 0;
		}
	}
	.rating-ls {
		display: inline-grid;
		span {
			color: $brand;
			font-size: 14px;
		}
		p {
			color: $color-text;
			padding-left: 0;
			font-weight: normal;
			font-size: 14px;
		}
	}
}


/* FOOTER */

footer {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #DBDBDB;
	padding-bottom: 50px;
	.bg-footer {
		display: flex;
		.footer-left {
			float: left;
			padding-left: 100px;
			li {
				float: left;
				font-size: 13px;
				list-style: none;
				margin: 10px;
				a {
					text-decoration: none;
					color: $color-breadcrumb;
				}
			}
		}
		.footer-right {
			float: right;
			padding-right: 100px;
			a {
				font-size: 13px;
				text-decoration: none;
				color: $color-breadcrumb;
				margin-left: 10px;
			}
		}
	}
}
/* THONG TIN TAI KHOAN */
.TT-tai-khoan{
  
    margin-top: 10px;
    background: linear-gradient(
        90deg
        , #fafafc 0%, #fafafc 34%, white 34%, white 100%);
 
}
.btn-nangcap{
	@include btn-common();
	a{
		color: white;
		text-decoration: none;
	}
    border: 0;
    &:hover{
        @include hover1();
    }
    img{
        margin-right: 10px;
        margin-top: -2px;
    }
}
.item-add-gallary{
    border: 1px solid #E9E9EB;
    border-radius: 4px;
    text-align: center;
	height: 110px;
    cursor: pointer;
    padding-top: 35px;
    button{
        border: 0;
        background: none;
        box-shadow: none;
        outline: none;
        position: relative;

    img{
        width: 40px;
        margin: auto;
    }
    }
}
.bg-tk-white{
    background-color: white;
}
.edit-tk{
    
    .edit-ava{
        width: 130px;
        height: 130px;
        border-radius: 100px;
        position: relative;
        margin: 20px auto;
        .icon-edit{
            cursor: pointer;
            background-color: $brand;
            position: absolute;
             padding: 10px;
             border-radius: 100px;
             bottom: 0;
             right: 10px;
        }
    }
    .edit-TTtaikhoan{
        overflow: hidden;
        .btn-editTK{
           
            @include btn-common();
            background: #E4E4E4;
            border: 0;
        }
        label{
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            color: $color-breadcrumb;

        }
        input{
            border: 1px solid #E9E9EB;
            box-shadow: none;
            border-radius: 0;
            min-height: 40px;
        }
      .form-check{
        .form-check-input{
            min-height: 0;
    }
    .form-check-label{
        color: $color-text;
        font-weight: normal;
        margin-left: 5px;
    }
      }
    }
    .thaydoi-mk{
        background: #FFFFFF;
        border: 1px solid #E9E9EB;
        box-sizing: border-box;
        box-shadow: -1px 0px 18px rgba(230, 107, 75, 0.08);
        margin: 20px;
        padding: 30px 20px;
        .capnhat-mk{
            margin-top: 20px;
            text-align: center;
            .btn-huy{
                margin: 0 10px;
                @include btn-common();
                border: 1px solid #E9E9EB;
                background-color: white;
                color: red;
            }
            .btn-save{
                @include btn-common();
                border: 0;
                font-weight: normal;
                margin: 0 10px;
                &:hover{
                    @include hover1();
                }
            }
        }
    }
}
/* Hide the browser's default checkbox */
.form-check{
    
    .style-check {
        padding-left: 30px;
        color: #333333!important;
        font-weight: normal!important;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 15px;
            height: 20px;
            width: 20px;
            background-color: #E4E4E4;
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 8px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
          }
          
    }
}

  /* When the checkbox is checked, add a blue background */
  .style-check input:checked ~ .checkmark {
    background-color: $brand;
  }

  /* Show the checkmark when checked */
  .style-check input:checked ~ .checkmark:after {
    display: block;
  }
.menu-left-tk{
    @extend .menu-left;
    i{
        background-color: #F3F3F3;
    border-radius: 50px;
    padding: 10px;
    }
}
.nangcap-tk{

    .item-box{
        overflow: inherit;
    }
    .box-search-ls{
        position: relative;
    }
    .tieude-tk{
        font-size: 26px;
		margin-top: 20px;
    }
    .tieude-form{
        font-size: 18px;
        font-weight: 700;
        padding: 15px 20px;
    }
    .TT-ca-nhan{
		padding: 0 15px;
        display: inline-block;
        width: 100%;
     
        label{
            
            font-style: normal;
            font-weight: 500;
            color: #777777;
        }
        input{
            border: 1px solid #E9E9EB;
            box-shadow: none;
            border-radius: 0;
            min-height: 40px;
        }
        .bootstrap-select{
            width: 100%!important;
            
            .btn-default {
                border: 1px solid #E9E9EB!important;
                min-height: 40px;
                border: 1px solid #E9E9EB !important;
                border-radius: 0;
            }
        }
        textarea{
            height: 75px;
            outline: none;
            padding: 15px;
            width: 100%;
            border: 1px solid #E9E9EB;
        }
	}
	
    .giai-thuong{
		padding-left: 15px;
		display: flex;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 15px;
        overflow: hidden;
		border-bottom: 1px solid #E9E9EB;
		.img-gt{
			img{
				width: 80px;
				height: 80px;
			}
		}
		
		p{
			margin-left: 15px;
		}
       
        .icon-close{
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 0;
        }
   
    }
    .btn-gui-nang-cap{
        @include btn-common();
        outline: none;
        border: 0;
        &:hover{
            @include hover1();
        }
    }
    .hinh-anh-hd{
        position: relative;
       margin:0;
       padding-bottom: 20px;
    }
    .img-box{   
        
         position: relative;
        height: auto;
        overflow: hidden;
        
        background-position: 50% 50%;
        background-size: cover;
        img{
            right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    /* position: absolute; */
    object-position: 50% 50%;
    object-fit: cover;
    
        }
    }
    .them-giai{
        text-align: center; font-weight: 600;
        a{
            text-decoration: none;
            color: #333333;
        }
    }
    .dropdown-menu{
        li{
            a{
				padding: 10px 20px;
				&:hover{
					color: white;
					background-color: $brand;
				}
            }
        }
        .active{
            a{
                background-color: $brand;
            }
        }
      
    }
    .td-lien-ket{
        position: relative;
    }
    .search-ls{
        left: 150px;
        position: absolute;
        top: 10px;
        img{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        input{
            padding: 0 30px;
            border: 0;
            width: 220px;
            min-height: 35px;
            border-radius: 50px;
            background-color: #F3F3F3;
    &:focus{
        outline: none;
    }
        }
    }
    .list-lk-ls{
       
        margin: 10px 0;
        .title-post{
            padding-top: 0;
            padding-left: 0;
            margin-bottom: 10px;
            .tieu-de{
                white-space: nowrap;
                a{
                    font-size: 14px;
                }
            }
            .chuc-danh{
                margin-left: 15px;
                color: $color-breadcrumb;
                font-size: 11px;
            }
        }
      
    }
    .upload-hd{
        margin-bottom: 15px;
        .file-input {
    
            margin-left: 15px;
            input:hover + label,
            input:focus + label {
            transform: scale(1.02);
    }
    
            label {
                margin-top: 10px;
                border: 1px solid #e76b4b;
                display: block;
                position: relative;
                width: 100px;
                height: 33px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #E66B4B;
                font-weight: bold;
                cursor: pointer;
                transition: transform .2s ease-out;
                i{
                    margin-right: 5px;
                }
              }
              .file {
                opacity: 0;
                width: 0.1px;
                height: 0.1px;
                position: absolute;
              }
              .file-name {
                display: -webkit-box;
                max-height: 4.2rem;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 1;
                position: absolute;
                bottom: -10px;
                left: 113px;
                color: #555;
                width: 300px;
                font-size: 13px;
              }
              
        }
	}
}

/* TAI XUONG */
.head-down{
	position: relative;
	.tieude-tk{
		padding-left: 0;
	}
    .search-vb{
        top: 0px;
        right: 0;
        position: absolute;
        img{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        input{
			outline: 0;
            padding: 0 30px;
            width: 220px;
            min-height: 35px;
            border-radius: 50px;
            border: 1px solid #E9E9EB;
            background-color: transparent;
        }
    }
   
}
.list-down-vb{
	margin-top: 30px;
    border-collapse: collapse;
	width: 100%;
	
    thead {
        background: #e76b4b38;
        color: $color-text;
	}
	th{
		padding: 15px ;
	}
    td {
		white-space: nowrap;
        text-align: left;
		padding: 10px 15px;
        img{
			width: 32px;
			margin-right: 10px;
			height: 32px;
        }
        a{
			display: -webkit-box;
		   -webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			-webkit-line-clamp: 1;
            text-decoration: none;
            color: $color-text;
        }
    }
    tbody {
		tr{
			&:hover{
				background-color:#e9e9eb!important;
			}
		}
		tr:nth-child(even) {
			background: #ffff;
		}
		tr:nth-child(odd) {
			background: #F9F9F9;
		}
	}
    
}
.ds-da-luu{
	margin: 25px 0;
	.ngay-luu{
		font-weight: 600;
	}
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
}
/* TIN TUC */
@mixin set-img {
	position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%;

	img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		left: 0;
		top: 0;
	}
}
@media (min-width: 1500px)
{
	.container {
		width: 1380px;
	}
}
.body-whites{
	background-color: white;
}
.bg-grays{
	background-color: #F9F9F9;
}
.breadcrumbs{
	padding-left: 15px;
    padding-bottom: 15px;
	a{
		color: $color-breadcrumb;
		font-size: 12px;
		text-decoration: none;
	}
}
.blogs{
	display: inline-block;
    width: 100%;
	margin-top: 25px;
	.min-height-blg{
		min-height: 670px;
	}
	article{
		position: relative;
	}
	.blog-image{
		&:hover{
			transform: scale(1.014);
			transition: .3s ease-in-out;
			
		}
	}
	a{
		text-decoration: none;
		line-height: 26px;
	}
	.blog-image{
		position: relative;
		@include set-img();
		padding-top: 80%;
	}
	.overlap-title {
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
		background: white;
		width:650px;
		margin-top: -100px;
		margin-bottom: 30px;
		padding: 30px;
		box-sizing: border-box;
		bottom: -100px;
		position: absolute;
		.td-danh-muc{
			margin-top: 0;
			a{
			text-decoration: none;
			color: $brand;
			font-size: 14px;
			text-transform: uppercase;
			}
		}
		h1{
			a{
				text-decoration: none;
				color: $color-text;
			font-size: 42px;
			}
		}
		p{
			a{
			color: $color-text;
			font-size: 16px;
			font-weight: normal;
			text-decoration: none;
			}
		}
	}
	.blogs-sidebar{
		h3{
			font-size: 28px;
			font-weight: bold;
			margin-top: 0;
		}
		.list-popular-post{
			list-style-type: none;
			counter-reset: item;
			margin: 0;
			padding: 0;
			li{
				border-bottom: 1px solid #E6E9F0;
				margin: 0;
				padding: 20px 0;
				width: 100%;
				line-height: 1.2;
				a{
					font-size: 16px;
					color: $color-breadcrumb;
					font-weight: 600;
				}
			}
		}
		
	}
}
.danh-muc-tin{
	padding: 30px 0;
	&:hover{
		transform: scale(1.014);
		transition: .3s ease-in-out;
	
		
	}
	figure{
		@include set-img();
	}
	img{
		width: 100%;
		margin-bottom: 10px;
		
	}
	h5{
	a{
		text-decoration: none;
		font-size: 13px;
		color: $brand;
		
	}
	}
	h1{
	margin-top: 0;
	display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		a{
			text-decoration: none;
			font-size: 22px;
			color: $color-text;
			font-weight: bold;
			line-height: 30px;
		}
	}
	p{
		margin-top: 10px;
		a{
			text-decoration: none;
			line-height: 24px;
			font-size: 14px;
			color: $color-text;
		}
	}
	.time{
		font-size: 13px;
		color: #9F9F9F;
	}
}
.danh-muc{
	.danh-muc-tin{
		padding: 50px 0;
		
	}
}
.td-danh-muc{
	margin-top: 20px;
}
.chu-thich-anh{
	text-align: center;
	font-style: italic;
	color: $color-breadcrumb;
}
.padding-section3{
	figure{
		transform: translateX(2%);
		position: relative;
		height: auto;
		overflow: hidden;
		padding-top: 60%;
	}
	margin:50px 0;
	padding-top: 0!important;
	@include set-img();
	img{
		&:hover{
			transform: scale(1.014);
			transition: .3s ease-in-out;
			
		}
	}
	.danh-muc-tin{
		
		transform: translate(0%, 15%);

		&:hover{
			box-shadow: unset;

		}
		h1{
			margin-top: 15px;
			-webkit-line-clamp: unset;
			-webkit-box-orient: unset;
			overflow: unset;

			a{
				font-size: 42px;
				line-height: 50px;
			}
		}
	}
}
.d-m-text-gray{
	
	.danh-muc-tin{
		background-color: #f9f9f9;
		padding-top: 0;
		margin-bottom: 30px;
		.noi-dung{
			padding: 0 15px;
			min-height: 140px;

		}
	}
	.td-danh-muc{
		a{
			color: $color-breadcrumb;
		}
	}
}
.kham-pha-tt{
	margin: 30px 0 30px 0;
	h3{
		font-size: 28px;
		text-align: center;
		font-weight: bold;
	}
	p{
		text-align: center;
		font-size: 16px;
		color: $color-breadcrumb;
	}
	.box-kham-pha{
	background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 #cbd6e2;
    font-size: 18px;
    color: $color-text;
    position: relative;
    display: inline-block;
    border-left: 5px solid #E66B4B;
    padding: 20px 0 20px 10px;
    width: 100%;
	margin: 30px 0 10px 0;
	text-decoration: none;
	&::after{
		content: '';
		background-image: url(../images/arrow-right.svg);
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		right: 15px;
		bottom: 25px;
		display: block;
		width: 10px;
		height: 17px;
	
	}
		&:hover{
			color: $brand;
		}
	}
	.border-color-1{
		border-left-color: $brand;
	}
	.border-color-2{
		border-left-color: #009688 ;
	}
	.border-color-3{
		border-left-color: #ffc107;
	}
	.border-color-4{
		border-left-color: #ff9800 ; 
	}
}
.banner-tt{
	height: 48vh;
    width: 100%;
    position: relative;
    background-image: url(../images/banner-tt.png);
    background-repeat: no-repeat;
  
		&::after{
			background-color: #E0C6BF;
			opacity: 0.2;
			content: '';
			display: block;
			height: 100%;
			width: 100%;
		}
				.noi-dung-banner{
					padding: 0 100px;
					text-align: center;
					color: white;
					top: 0;
					position: absolute;
					justify-items: center;
					left: 0;
					right: 0;
					transform: translateY(190%);
		h1{
			font-size: 52px;
		}
	}
}
.pagination {
	display: block;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #e9e9eb;
    border-radius: 0;
    padding-bottom: 50px;
	a {
		color: $brand;
		padding:10px 15px;
		text-decoration: none;
		&.active{
			border: 1px solid $brand;
			color: $brand;
			background-color: #e66b4b1f;
		}
	  }
  }
/*   Table chi tiet van ban phap luat */
.table-vbpl{
	font-size: 13px;
	border: 1px solid #E9E9EB;
	border-collapse: inherit;
	margin-top: 20px;
	tr, td, th{
		padding: 15px;
		border-bottom: solid 1px #E9E9EB;
		
	}

	.td_1 {
		font-weight: bold;
		color: #333333;
		background-color: #F9F9F9;
		font-family: 'SF Pro Display Bold';
	}

	.hieu-luc{
		color: #A32018;
	}
	.updating{
		color: $color-breadcrumb;
		font-style: italic;
	}
}
/*   Chi tiet in tuc */

  .chi-tiet-tt{
	  margin-top: 0;
	 
  }
  .noi-dung-tt{
	padding: 0 215px;
	
	ul{
		li{
			margin: 10px 0;
			list-style: none !important;
			a{
				text-decoration: none;
				color: $color-text;
			}
		}
	}
	hr{
		width: 100%;
		
	}
	figure{
		img{
			width: 100%;
		}
	}
	p{
		margin-bottom: 30px;
		padding: 0 75px;
		line-height: 27px;
		font-size: 16px;
		text-align: justify;
		.chu-thich-anh{
			text-align: center;
			display: block;
			font-style: italic;
			color: $color-breadcrumb;
			img{
				width: 100%;
				margin-bottom: 10px;
			}
		}
	  }
	  h1{
		padding: 0 75px;
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 40px;

	  }
	  .tags-tt{
		padding-left: 75px;
		width: 100%;
		margin:30px 0;
		span{
			color: #353F60;
			font-size: 16px;
		}
		a{
			display: inline-flex;
			border: 1px solid #E66B4B;
			padding: 10px 20px;
			color: #E66B4B;
			background-color: white;
			border-radius: 50px;
			text-decoration: none;
			margin: 0 3px 10px 3px;
		}
	
	  }
	  .binh-luan-tt{
		padding: 0 75px;
		margin: 30px 0 20px 0;
		.tieu-de-bl{
			font-weight: bold;
			position: relative;
			border-bottom: 1px solid #E9E9EB;
			padding-bottom: 10px;
			font-size: 18px;
			width: 100%;
			margin-bottom: 15px;

			&::after{
				content: " ";
				width: 90px;
				height: 1px;
				background: #E66B4B;
				position: absolute;
				bottom: -1px;
				left: 0;
			}
		}	
		textarea{
			border-radius: 0;
			border: 1px solid #e9e9eb;
			width: 786px;
			height: 85px;
			box-shadow: none;
			margin: 20px 0;
			&::placeholder{
				color: #939393;
				padding: 10px;
				font-weight: normal;
			}
			&:focus {
				border-color: $brand;
				
			}
		}
		.btn-bl-tt{
			text-align: right;
			button{
				@include btn-common();
			border: 0;
			background-color: #E0E0E0;
			color: $color-breadcrumb;
			font-size: 16px;
			font-weight: bold;
			&:focus{
				outline: none;
			}
			}
		}
		.ds-binh-luan{
			.title-post{
				display: inline-flex;
				img {
					width: 40px;
					height: 40px;
					border-radius: 100px;
				}
				.tieu-de {
					font-weight: bold;
					margin: 5px 15px 0;
					font-weight: 700;
					color: #333333;
					font-size: 16px;
				}
				.time {
					margin-top: 4px;
					color: #777777 !important;
					color: #333333;
					font-size: 14px;
				}
				
			}
			.mo-ta {
				padding-left: 56px;
				line-height: 25px;
				margin-top: -10px;
				padding-right: 20px;
				color: #333333;
				font-size: 14px;
				.icon-trl-nx{
					margin: 0 5px;
					&::before{

					color: $color-breadcrumb!important;
					}
				}
				.traloi-BL{
					.title-post{
						margin-top: 20px;
					}
					input{
						width: 100%;
						border: 1px solid #E9E9EB;
						background-color: white;
						padding: 10px;
						margin: 20px 0;
						&:focus {
							border-color: $brand;
							outline: none;
							
						}
					}
				}
				.arrow_carrot-down {
					font-size: 18px;
				}
				p {
					cursor: pointer;
					padding: 0;
					margin-bottom: 0;
					a {
						color: #777777;
						font-size: 13px;
						text-decoration: none;
					}
				}
			}
		}
	}
	
  }
  .tt-lien-quan{
    margin-top: 30px;
	border-top: 1px solid #e9e9eb;
	h2{
		font-weight: bold;
		margin: 30px 0;
		text-align: center;
		font-size: 32px;
	}
}
/* Option Hinh anh bai viet */
.box-one-img{
	margin: 0 !important;
    padding: 0 15px !important;
}
.anh-bai-viet{
	padding: 0 15px;
	margin-left: -2px;
	margin-right: -2px;
	img{
		border-radius: 0 !important;
	}
	.more-img{
		a{
	color: white;
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    font-size: 36px;
    text-align: center;
    left: 0;
    right: 0;
		}
	
	}
	.col-md-6{
		padding: 0 2px;
	}
	.col-md-12{
		padding: 0 2px;
	}
	.one-img{
		width: 100%;
		margin-bottom: 4px;
	}
	.two-img{
		@include set-img();
		padding-top: 80%;
	}
	
}


/* Modal slider  */
.modal-slider{
	position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
	pointer-events: none;
	&:target {
		opacity:1;
		pointer-events: auto;
	}
	.noi-dung-modal{
		width: 960px;
    position: relative;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
	background: #00000040;
	i{
		font-size: 30px;
	}
	#image-gallery{
		height: 60vh!important;
	}
	.thumb-slider{
		@include set-img();
		height: 100%;
		padding-top: 0;
	}
		.close {
			font-size: 20px;
			font-weight: normal;
			color: #FFFFFF;
			position: absolute;
			left: -3px;
			text-align: center;
			top: -25px;
			width: 10px;
			z-index: 9999;
			text-decoration: none;
			
		}
		.lslide{
			img{
				overflow: hidden;
			}
		}
		.lightSlider.lsGrab > * {
			justify-content: center;
			height: 100%;
			align-items: center;
			display: flex;
			
		}
		.lSSlideOuter {
			.lSGallery{
				li{
					height: 70px;
					&.active{
						border: 1px solid $brand;
					}
				}
			}
			
		}
	}
}
/* Modal bai viet */
#myModal2{
	padding: 20px;
		font-family: $font-primary;
	
	.lSPager{
		display: none;
	}
	.lSSlideOuter {
		width: 1100px;
		margin: auto;
		.thumb-slider{
			width: 1100px;
		}
	}
	.item.center-img{
		height: 100% !important;
		display: flex;
		align-items: center !important;
	}
	.lSSlideWrapper{
	#content-slider{
		height: 600px;
	}

}
.noi-dung-modal{
	margin: 18px 0;
    height: 100%;
	width: 100%;
	
	.item-box{
		height: 100%;
		margin-top: 0;
		p{
			font-size: 14px;
		}
	}
	
}
.ykien {
    outline: none;
    background-color: transparent;
    border: 0;
}
.traloi-BL{
	display: flex;
	padding-top:15px;
}
input {
	height: 35px;
	font-size: 14px;
    border: 1px solid #E9E9EB;
    background-color: #f9f9f9;
    padding: 10px;
}
}
.menu-mb{
	display: none;
}
.search-mb{
	display: none;
}
.icon-search-mb{
	display: none;
}
.close-search{
	display: none;
}
.mb-profile{
	display: none;
}
.pc-profile{
	display: block;
}
#modal-xem-nhanh{
	.modal-dialog{
		left: 0%;
		top: 30%;
		.modal-content{
			padding: 15px 20px;
		}
	}
	.modal-header{
		.close{
			margin-top: -35px;
			span{
				font-size: 30px;
			}
		}
	}
	.modal-body{
		p{
			line-height: 30px;
		}
		.xem-them-vb{
			color: $brand;
			text-decoration: none;
		}
	}
}
.xem-nhanh{
	text-decoration: none !important;
	color: $brand;
	cursor:  pointer;
}
.bg-full .contact .detail-contact {
    margin-left: 0;
    padding: 30px 30px 20px 40px;
}
.icon_adjust-horiz{
	color: $color-breadcrumb;
}
.sort-mb{
	display: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: transparent;
}
.center-document {
	.tab-vbpl {
		.nav-tabs {
			border-color: #E9E9EB;
    overflow-x: scroll;
	padding: 2px 0;
    height: auto;
    white-space: nowrap;
    border-bottom: 1px solid #f9f9f9;
    width: 100%;
    flex-wrap: unset;
			li {
				a {
					font-size: 14px;
				}
			}
		}
	}
}
.list-search .content-srcoll .filter .col-md-2 {
    float: left;
}
.logout-mb{
	display: none;
}
@mixin set-logout {
	.logut-pc{
		display: none;
	}
	.logout-mb{
		display: block;
		height: 310px;
	
		.btn-nangcap{
			padding: 8px 28px;
			img{
				width: 20px !important;
				height: 20px !important;
			}
		}
		ul {
			margin-top: 15px;
			overflow-y: scroll;
			height: 200px;
			li {
				list-style: none;
				margin-bottom: 30px;
				margin-top: 20px;
				a {
					color: #333333;
					font-size: 16px;
					&:hover {
						text-decoration: none;
						color: #E66B4B;
					}
					.icon_ribbon_alt{
						font-size: 16px;
					}
					i {
						margin-right: 10px;
						color: #333333;
						font-size: 18px;
						background-color: #e4e6eb;
						padding: 10px;
						border-radius: 100%;
					}
				}
			}
		}
		.btn3 {
			text-align: center;
			.btn-chat {
				transition: all .2s linear;
				background: #E66B4B;
				padding: 10px 42px;
				.chat {
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #ffffff;
				}
			}
		}
	}
}
/* Style slect-box tai khoan */

.custom-select {
	position: relative;
	border-radius: 0;
	
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
	background-color: transparent;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
	position: absolute;
	content: "";
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
	color: $color-text;
	border: 1px solid transparent;
	border-color: 0;
	cursor: pointer;
	user-select: none;   
  }
  .select-items div{
	padding: 10px 15px;
	  
  }
  
  /*style items (options):*/
  .select-items {
	position: absolute;
	background: #FFFFFF;
border: 1px solid #E9E9EB;
    left: 0;
    right: 0;
    margin-top: 5px;
    z-index: 999;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: $brand;
		   color: white;
  }

/*========= Page Dang ky Dang Nhap ==========*/
.main-login{
	background: linear-gradient(123.44deg, rgba(230, 107, 75, 0.06) 42.97%, rgba(250, 232, 227, 0.06) 54.25%, rgba(247, 194, 74, 0.06) 97.83%);
	min-height: 100vh;
	display: flex;
	align-items: center;
	
	
	.logo-login{
		position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    text-align: center;
	}
}
.login-page{
	position: relative;
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 4px 3px #9e9e9e1c;
    padding: 40px;
    max-width: 565px;
    height: 500px;
    margin: 40px auto;
    border-radius: 6px;
    width: 100%;
	
		input{
			&::placeholder{
				color: $color-breadcrumb;
				font-size: 14px;
			}
		}
		.btn-sign{
			text-align: center;
			button{
				@include btn-common();
				min-height: 45px;
			width: 100%;
			border: 0;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			&:hover{
				@include hover1();
			}
			}
		}
		.or-login{
			text-align: center;
			margin: 20px;
			span{
				color: $color-breadcrumb;
				font-size: 13px;
			}
			.socical-login{
				display: flex;
				text-align: center;
				justify-content: center;
				margin: 15px;
				a{
					margin: 0 15px;
				}
			}
		}
		a{
			text-decoration: none;
			.forgot-password{
				text-align: center;
				font-size: 13px;
				color: $color-breadcrumb;
				margin-top: 20px;
				margin-bottom: 0;
				
			}
		}
		
		.input-checkbox100 {
			display: none;
		}
		.label-checkbox100 {
			
			font-size: 13px;
			color: $color-breadcrumb;
			line-height: 1.2;
			display: block;
			position: relative;
			padding-left: 26px;
			cursor: pointer;
			&:before {
				content: "\f00c";
				font-family: FontAwesome;
				font-size: 13px;
				color: transparent;
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				width: 15px;
				height: 15px;
				border-radius: 3px;
				background: #fff;
				border: 1px solid #e5e5e5;
				border-radius: 0;
				left: 0;
				top: 48%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		.input-checkbox100:checked + .label-checkbox100::before {
			color: white;
			background-color: $brand;
			border: 0;
		}
		.form-group{
			margin: 20px 0;
		}
		input{
			border: 1px solid #E5E5E5;
			border-radius: 0;
			padding: 9px 10px;
			min-height: 45px;
			font-size: 14px;
			font-weight: normal;
			width: 100%;
			&:focus{
				border: 1px solid #E66B4B;	
				outline: 0;
				border-radius: 0;
			}
		}
		.tab-login{
			.nav-tabs{
			border-bottom: 0;
			margin-bottom: 30px;
			justify-content: center;

				li{
					padding: 0 50px;
					a{
						color: $color-text;
						font-size: 15px;
						text-transform: uppercase;
						font-weight: bold;
						
					}
					&.active{
						color: #E66B4B;
						border-bottom: 3px solid #E66B4B;
						a{
							color: #E66B4B;
							border-radius: 0;
							border: 0;
						}
					}
				}
			}
		}
	  
}
  
/* =========Responsive =========*/

/*===== For  Tablet ngang===== */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.nangcap-tk .giai-thuong p {
		margin-left: 30px;
	}
	.nangcap-tk{
		.search-ls {
			top: 8px;
		}
		.list-lk-ls{
			.title-post{
				padding-right: 0;
				.tieu-de{
					white-space: normal;
				}
			}
			
		}
	}
	.bg-white {
		.title-large {
			font-size: 28px;
		}
	}
	.box-starrating {
		.number-rating2{
		    margin: -10px 0 0px 5px;
		}
		.btn3
		{
			width: 100%;
			margin: 10px 0;

			.review, .view{
				width: 100%;
				display: block;
				text-align: center;
			}
		}
	}
	.contact{
		.detail-contact{
			.name{
				font-size:24px
			}
		}
		.ava{
			margin-bottom: 45px;
			img{
				width: 150px;
				height: 150px;
			}
		}
	}
	.contact-right{
		text-align: right;
		padding-left: 0 !important;
		padding-right: 15px;
	}
	.header-top{
		position: relative;
		.search-box {
			width: 100%;
		}
		.col-xs-12.col-md-2{
			position: initial;
		}
		.login{
			position: absolute;
			right: 15px;
			top: 24px;
		}
		.col-xs-12.col-md-8{
			.search-box{
				margin-left: 0;
			}
			width: 500px;
			-ms-flex: 0 0 500px 0;
			flex: 0 0 500px 0;
			max-width: 500px;
			margin: auto;
		}
	}
	.banner2, .banner{
		margin-top: 10px;
		@include set-img();
		padding-top: 40%;
		img{
			border-radius: 6px 6px 0 0;
		}
	}
	.modal-danhgia {
		.modal-title {
			font-size: 20px !important;
		}
		.modal-dialog {
			.modal-content {
				height: auto;
				width: 100%;
				.tieude-modal{
					display: block;
				position: relative;
				}
				.btn-vietdanhgia{
					position: absolute;
					right: 0;
					top: 0;
				}
				.modal-header .close {
					margin-right: 0;
				}
				.xemthem-danhgia{
					bottom: 4px;
					left: -137px;
				}
			}
		}
	}
	.blogs {
		.overlap-title {
			width: 550px;
			bottom: -200px;
		}
	}
	.padding-section3{
		.danh-muc-tin {
			transform: translate(0%, -10%);
		}
		
	}
	.noi-dung-tt {
		padding: 0 50px;
	}
	.banner-tt {
		.noi-dung-banner {
			transform: translateY(80%);
		}
	}
.set-logout{
	@include set-logout();
}
.box-starrating {
	.content a {
		white-space: normal;
	}
}
.xemtatca a {
    bottom: 18px;
}
.item-add-gallary {
    height: 90px;
    padding-top: 25px;
}

}
/* ======= For Tablet doc ========*/
@media only screen and (min-width: 768px) and (max-width: 950px) {
	
	body{
		padding-top: 70px;
	}
	.banner2, .banner{
		margin-top: 15px;
		@include set-img();
		padding-top: 40%;
		img{
			border-radius: 6px 6px 0 0;
		}
	}
	.header-top .search-box i {
		position: absolute;
		top: 35%;
		left: 2%;
	}
	.menu-mb{
		display: block;
	}
	.noti {
		display: none !important;
	}
	.header-top .login .account {
		top: -10px;
	}
	.icon-search-mb{
		display: block;
	}
	
		.sidenav {
			
			height: 100%;
			width: 100%;
			position: fixed;
			transition: width 2s;
			z-index: 1;
			top: 0;
			left: -1000px;
			background-color: white;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
			a {
				margin-bottom: 20px;
				padding: 8px 8px 8px 32px;
				text-decoration: none;
				font-size: 16px;
				color: $color-text;
				display: block;
				transition: 0.3s;
			  }
			  .close-menu {
				left: 0;
				position: absolute;
				top: 0;
				border: 0;
				background: none;
				color:$color-text;
				font-size: 30px;
			
			  }
		  }
		  .show-menu{
			left: 0!important;
		}
		.header-top{
			.search-box{
				display: none;
				transition: width 2s;
				background: white;
				position: fixed;
				top: 60px;
				padding: 10px 20px;
				width: 100%;
				margin: 0;
				padding-left: 35px;
				
				i{
					&.icon_close{
						right: 20px;
						font-size: 25px;
						top: 22px;
					}
				}
			input{
				border-radius: 0;
				border: none;
				background-color: white;
				padding: 5px 10px;
				width: 100%;
			}
			.close-search {
				display: block;
				right: 0;
				position: absolute;
				top: 0;
				border: 0;
				background: none;
				color:$color-text;
				font-size: 30px;
			
			  }
			}
			.show-search-mb{
				top: 70px!important;
				left: 0;
				display: block;
				transition: 0.5s;
				box-shadow: 0px 4px 4px #0000001a;
			}
		}
.header-top{
	position: fixed;
	z-index: 999;
	width: 100%;
	padding: 0;
	top: 0;
	.logo{
		position: fixed;
		top: 7px;
		left: 50px;
		a{
			img{
				height: 40px;
			}
		}
	}
}
.account{
	p{
		display: none;
	}
}
.btn-menu-mb{
	position: fixed;
    left: 15px;
    top: 20px;
}
.icon-search-mb{
	position: fixed;
    right: 110px;
    top: 14px;
    height: 35px;
    width: 35px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
	padding-top: 8px;
	i{
		font-size: 13px;
	}
}
.left-home{
	display: none;
}
.set-seacrh-ls{
	.center-home, .center-document, .edit-tk{
		flex: inherit;
		max-width: 100%;
	}
	.right-home{
		flex: inherit;
		max-width: 100%;
	}
}
.set-home{
	.center-home {
	flex: inherit;
    max-width: 66.666667%
}
}

.right-home{
	.list-right{
		ul{
			padding-left: 0;
		}
	}
}
	.modal-danhgia {
		.modal-title {
			font-size: 20px !important;
		}
		.modal-dialog {
			.modal-content {
				height: auto;
				width: 100%;
				
				.modal-header .close {
					margin-right: 0;
				}
				.xemthem-danhgia{
					bottom: 4px;
					left: -137px;
				}
			}
		}
	}
	.contact{
		.detail-contact{
		    margin-left: 135px;
			.name{
				font-size:20px
			}
		}
		.ava{
			bottom: 42px;
			margin-left: 10px;
			img{
				width: 112px;
				height: 112px;
			}
		}
	}
	.header-top{
		.col-xs-12.col-md-8{
			
			width: 360px;
			-ms-flex: 0 0 360px 0;
			flex: 0 0 360px 0;
			max-width: 360px;
			margin: auto;
		}
	}
	.header-top{
		.login{
			.account{
				margin-left: 15px;
			}
		}
	}
.box-starrating{
	.about{
		.col-md-4{
			padding: 0 5px;
		}
		.chiduong{
			margin-bottom: 10px;
			position: unset;
			margin-top: -20px;
		}
	}
}
footer{
	.bg-footer{
		.footer-left{
			padding-left: 0;
		}
		.footer-right{
			padding-right: 0;
		}
	}
}
.box-starrating{
	padding: 18px;
	.text-rating {
		margin-bottom: 5px;
	}
	.number-rating2, .number-rating {
		font-size: 18px;
		border: 0;
		margin: 0;
		margin-top: -10px;
		padding: 4px;
	}
	.number-rating {
		margin-top: -2px;
	}
	.list-star {
		.bg-star a img {
			padding: 4px;
		}
	}
	.content{
		a{
			white-space: normal;
		}
	}
}

.xemtatca{
	a{
		bottom: 15px;
	}
}
.maps_google{
	overflow: hidden;
}
#myModal2{
	.noi-dung-modal{
		margin: 3px 0;
		.row{
			display: block;
			.col-md-8, .col-md-4{
				max-width: 100%;
			}
		}
		.item-box {
			margin-top: 10px;
			height: 370px;
			overflow: scroll;
		}
	}
}
.blogs{
	.min-height-blg{
		.blog-image{
			margin-bottom: 0;
			padding-top: 55%;
		}
		.overlap-title{
			position: unset;
			margin-top: 0;
			width: 100%;
		}
	.col-md-8, .col-md-4{
		max-width: 100%;
		flex: inherit;
	}
	}
}
.padding-section3{
	margin-bottom: 0!important;
	.danh-muc-tin {
		transform: translate(0%, -10%);
		h1{
			a{
				font-size: 36px;
			}
		}
	}
	figure{
		padding-top: 85%;
	}
}
.noi-dung-tt {
	padding: 0;
	h1{
		margin: 20px 0;
		padding: 0;
	}
	p{
		padding: 0;
	}
	.tags-tt{
		padding: 0;
	}
	.binh-luan-tt{
		padding: 0;
	}
}
.noi-dung-tt {
	.binh-luan-tt {
		textarea {
			width: 715px;
		}
	}
}
.nangcap-tk .giai-thuong p {
    margin-left: 30px;
}
.nangcap-tk .search-ls {
    top: 8px;
}
.TT-ca-nhan, .edit-TTtaikhoan{
	.form-group{
		width: 50%;
		textarea {
			height: 40px;
		}
	}
	
}
.hinh-anh-hd{
		.item-add-gallary{
			height: 95px;
			padding-top: 28px;
			button{
				padding: 0 20px;
				img {
					width: 30px;
				}
			}
		}
	
}
.set-logout{
	@include set-logout();
}
.nangcap-tk{
	.list-lk-ls{
		.title-post{
			padding-right: 0;
			.tieu-de{
				white-space: normal;
			}
		}
		
	}
}
.TT-tai-khoan{
	margin-right: 15px;
    margin-top: 15px;
}

}

/*======== For Mobile============ */
@media only screen and (max-width: 767px){
	body{
		padding-top: 70px;
	}
	.left-home{
		display: none;
	}
	.container{
		max-width: 100%;
	}
	.anh-bai-viet {
		.two-img {
			margin-bottom: 5px;
		}
	}
	
	.item-box{
		.mo-ta {
			margin-top: 2px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.tuongtac {
			padding: 10px 0 10px 20px;
		}
		.traloi-BL, .ykien{
			display: flex;
		}
	}
	.banner{
		@include set-img();
	}
	.banner2{
		padding-top: 10px;
		margin-top: 15px;
		img{
			width: 100%;
    		border-radius: 8px 8px 0 0;
		}
	}
	.bg-full{
		width: 100%;
		margin: 0;
		.contact{
			.ava {
				margin:0;
			}
			.detail-contact{
				padding-top: 20px;
				padding-left: 0;
				position: absolute;
				padding-right: 0;
				top: -25px;
				.postion-name{
					text-align: left!important;
					padding-left: 95px;
				}
				.name{
					font-size: 22px;
					  margin-bottom: 10px;
					  text-align: left!important;
					  padding-left: 95px;

				}
				.address{
					margin: 5px 0;
					display: flex;
					
				}
			}
			.ava{
				img{
					width: 75px;
					height: 75px;
				}
			}
			.contact-left{
				min-height: 200px;
			}
			.contact-right{
				padding: 5px 0 0 0;
				min-height: 140px !important;
				.btn1{
					margin-top: 0;
					.btn-phone{
						display: inline-block;
						text-align: center;
						width: 100%;
					}
				}
				.btn2{
					margin-top: 0;
					.btn-chat{
						display: inline-block;
						text-align: center;
						width: 100%;
					}
				}
			}
		}
	}

	.menu-mb{
		display: block;
	}
	.icon-search-mb{
		display: block;
	}
	
		.sidenav {
			
			height: 100%;
			width: 100%;
			position: fixed;
			transition: width 2s;
			z-index: 1;
			top: 0;
			left: -1000px;
			background-color: white;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
			a {
				margin-bottom: 20px;
				padding: 8px 8px 8px 32px;
				text-decoration: none;
				font-size: 16px;
				color: $color-text;
				display: block;
				transition: 0.3s;
			  }
			  .close-menu {
				left: 0;
				position: absolute;
				top: 0;
				border: 0;
				background: none;
				color:$color-text;
				font-size: 30px;
			
			  }
		  }
		  .show-menu{
			left: 0!important;
		}
		.header-top{
			.search-box{
				display: none;
				transition: width 2s;
				background: white;
				position: fixed;
				top: 60px;
				padding: 10px 20px;
				width: 100%;
				margin: 0;
				padding-left: 35px;
				
				i{
					&.icon_close{
						right: 20px;
						font-size: 25px;
						top: 22px;
					}
				}
			input{
				border-radius: 0;
				border: none;
				background-color: white;
				padding: 5px 10px;
				width: 100%;
			}
			.close-search {
				display: block;
				right: 0;
				position: absolute;
				top: 0;
				border: 0;
				background: none;
				color:$color-text;
				font-size: 30px;
			
			  }
			}
			.show-search-mb{
				top: 70px!important;
				display: block;
				transition: 0.5s;
				box-shadow: 0px 4px 4px #00000054;
			}
		}
.header-top{
	position: fixed;
	z-index: 999;
	width: 100%;
	padding: 0;
	top: 0;
	.logo{
		position: fixed;
		top: 7px;
		left: 50px;
		a{
			img{
				height: 40px;
			}
		}
	}
}
.account{
	p{
		display: none;
	}
}
.btn-menu-mb{
	position: fixed;
    left: 15px;
    top: 20px;
}
.icon-search-mb{
	position: fixed;
    right: 110px;
    top: 14px;
    height: 35px;
    width: 35px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
	padding-top: 8px;
	i{
		font-size: 13px;
	}
}
.contact{
	.col-md-8, .col-md-4 {
		padding:0;
	}
.banner2{
	background-color: white;
	@include set-img();
	padding-top: 70%;
}
.white-color{
	background-color: white;
}
	.contact-left{
		position: relative;
		border-radius: 0;
		border: 0;
		height: 100%;
	}
	.contact-right{
		
		padding:15px;
		padding-top: 15px;
		border-radius: 0;
		border: 0;
		.btn1, .btn2{
			margin-top: 0;
			margin-bottom: 15px;
			.btn-phone, .btn-chat{

				display: inline-block;
				text-align: center;
				width: 100%;
			}
		}
	}
	.ava{
		position: unset;
	    text-align: center;
		margin-top: -70px;
		margin-bottom: 0;
		img{
			width: 130px;
			height: 130px;
			border: 2px solid white;

		}
	}
	.detail-contact {
		margin-left: 15px;
		padding-top: 15px;
		.address{
			display: flex;
		}
		.name{
			font-size: 22px;
			text-align: center;
			margin-bottom: 10px;
		}
		.postion-name{
			text-align: center;
		}
	}
}
.center-home {
	.list-news {
		ul {
			img {
				position: unset;
				right: 15px;
				width: 100%;
				height: auto;
			}
		}
	}
}
footer .bg-footer .footer-right ,footer .bg-footer .footer-left{
	padding: 0;
	img{
		width: 100%;
	}
}
.bg-full .contact{
	display: inherit;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding-top: 30px;
}
.login{
	position: fixed;
    right: 25px;
    top: 15px;
}
.banner {
    margin-top: 0;
}
.header-top .login .account {
    margin-left: 35px;
}
.noti{
	display: none !important;
}
.header-top .search-box i {
    top: 25px;
    left: 15px;
}
#myModal{
	.modal-content{
		width: 100%;
		height: auto;
		.modal-header {
			.close{
				margin-right: 0;
				padding-left: 0;
			}
		}
		.tieude-modal{
			display: unset;
			.modal-title {
				font-size: 24px !important;
				span{
					font-size: 14px;
				}
				
			}
			.btn-vietdanhgia{
				width: 100%;
				margin-left: 0;
				margin-top: 10px;
			}
		}
		.modal-body{
			.scrollbar-danhgia{
				height: 592px;
			}
			.xemthem-danhgia{
				transform: translate(36%,0);
				position:unset;
			}
		}
	}
}
#myModal2
	{
		padding: 5px;
		.noi-dung-modal {
			.item-box{
				margin-top: 5px!important;
				height: 370px;
			overflow: scroll;
				.ykien{
					padding: 15px;
				}
			}
			.close{
				left: -5px;
				top: -25px;
			}
			
		}
		
	} 
	#xemhinh{
		width: 100%;
    height: 100% !important;
    display: flex;
	align-items: center !important;

		.noi-dung-modal{
			width: 100%;
			.lSSlideOuter {
				.lSGallery {
					li{
					height: auto;
					}
				}
			}
			.close{
				left: 5px;
				top: -20px;
			}
		}
	}
/* Profile on mobile */
.mb-profile{
	display: block;
	
	.tab-profile{
		width: 100%;
		.nav-tabs{
			overflow-x: scroll;
			padding: 10px 0;
			height: auto;
			white-space: nowrap;
			border-bottom: 1px solid #dee2e6;
			width: 100%;
			flex-wrap: unset;
			li{
				a{
					color: $color-breadcrumb;
					font-size: 15px;
				}
				&.active{
					color: #E66B4B;
					border-bottom: 1px solid #E66B4B;
					a{
						color: #E66B4B;
						border-radius: 0;
						border: 0;
					}
				}
			}
		}
		.tab-content{
		
			.box-starrating{
				.xemtatca{
					a{
						top: 30px;
						left: 0;
						right: 0;
					}
				}
			}
		}
		.box-starrating{
			text-align: center;
			.btn3{
				width: 100%;
				margin: 10px 0;
				.view ,.review{
				display: inline-block;
				text-align: center;
				width: 100%;
				}
			}
		}
	}
	
}
.noi-dung-modal{
	ul{
		&.content-slider{
			height: 400px !important;
		}
	}
}
.pc-profile{
	display: none;
}
/* Sort mobile */
.list-search{
	display: none;
}
.sort-mb{
	display: block;
	.content-sort {
			
		height: 100%;
		width: 70%;
		position: fixed;
		transition: width 2s;
		z-index: 1;
		top: 70px;
		left: -1000px;
		background-color: white;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		a {
			margin-bottom: 20px;
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 16px;
			color: $color-text;
			display: block;
			transition: 0.3s;
		  }
		  .close-sort {
			left: 0;
			position: absolute;
			top: 0;
			border: 0;
			background: none;
			color:$color-text;
			font-size: 30px;
		
		  }
	  }
	  .show-sort{
		left: 0!important;
		.detail-sort{
			display: flex;
			i{
				margin-top: 10px;
			}
		}
		.submit-sort{
			@include btn-common();
			border: 0;
		}
	}
}
.list-right{
p{
	padding-left: 5px;
}
	ul{
		padding-left: 10px;
	}
}
.danh-muc-tin {
    padding: 0px ;
}
.danh-muc{
	.danh-muc-tin{
		padding: 15px 0;
	}
}
.blogs {
	.overlap-title{
		width: 100%;
		position: unset;
		margin-top: 0;
	}
}
.chi-tiet-tt{
	.col-md-4, .col-md-8{
		padding: 0;
	}
}
.padding-section3{
	margin: 20px 0;
	figure {
		transform: unset;
		margin-top: 10px;
	}
	.danh-muc-tin{
		transform: unset;
		h1{
			margin-top: -15px;
			a{
				font-size: 28px;
			}
		}
	}
}
.noi-dung-tt {
	padding: 0 15px;
	h1 {
		padding: 0 15px;
		margin: 15px 0;
	}
	p{
		padding: 0;
	}
	.tags-tt{
		padding: 0;
	}
	.binh-luan-tt{
		padding: 0;
	}
}
.noi-dung-tt {
	h1{
		padding: 0;
		font-size: 28px;
	}
	.binh-luan-tt {
		textarea {
			width: 100%;
		}
		.ds-binh-luan{
			margin-top: 20px;
		}
	}
}
.nd-banner-mb{
	display: block;
    position: relative;
    background-image: url(../images/banner-tt-mb.png);
	background-repeat: no-repeat;
	.noi-dung-banner {
		padding: 0 15px;
		transform: translateY(50%);
		h1 {
			font-size: 30px;
		}
	}
}
.header-top {
	.login {
		.account:hover {
			.acc-user{
				position: fixed;
				width: 100%;
				top: 72px;
			}
		}
	}
}
.TT-ca-nhan, .edit-TTtaikhoan{
	.form-group{
		width: 100%;
	}
}
.nangcap-tk {
	.upload-hd{
		.file-input{
			.file-name{
				width: auto;
			}
		}
	}
	.giai-thuong p {
		margin-left: 0;
		padding: 0 15px;
	}
	.giai-thuong{
		.col-md-1, .col-md-11{
			width: auto;
		}
		.icon-close {
			right: 5px;
		}
		
	}
	.search-ls {
		position: unset;
    padding: 0 10px;
	margin-top: -10px;
	margin-bottom: 15px;
	input{
		width: 100%;
	}
		img {
			position: absolute;
			top: 60px;
			left: 20px;
		}
	}
	.hinh-anh-hd{
		.col-md-2{
			padding-right: 0;
			width: auto;
			.img-box{
				margin-bottom: 15px;
			}
			.item-add-gallary{
				height: 95px;
				padding-top: 30px;
				button{
					padding: 0 30px;
					img {
						width: 30px;
					}
				}
			}
		}
	}
	.none-padding{
		padding: 0;
	}
	.btn-gui-nang-cap{
		width: 100%;
	}
}
.header-top {
	.login {
		.account {
			.acc-user {
				.logout ul {
					margin-top: 15px;
				}
				.content-acc-user {
					img{
						width: 55px;
						height: 55px;
					}
				}
			}
		}
	}
}

.set-logout{
	@include set-logout();
}
.head-down .search-vb{
	position: unset;
	input{
		width: 100%;
	}
	img {
		top: 46px;
	}
}
.list-down-vb {
	td {
		white-space: normal;
		img {
			width: 20px;
			height: 20px;
		}

		a {
			-webkit-line-clamp: 2;
		}
	}
}
.main-login{
	padding-top: 0;
	background-color: white;
	.logo-login{
		position: unset;
		img{
			width: 240px;
    		height: 45px;
		}
		
	}
	.login-page{
		padding: 0 20px;
		margin: 0;
		box-shadow: none;
		border-radius: 0;
		border: 0;
		.tab-login {
			padding-top: 30px;
			.nav-tabs {
				
				li {
					padding: 0 15px;
					
					a{
						white-space: nowrap;
					}
				}
			}

		}
	}
	
}



}

