@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?pa09z1");
  src: url("../fonts/icomoon.eot?pa09z1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?pa09z1") format("truetype"), url("../fonts/icomoon.woff?pa09z1") format("woff"), url("../fonts/icomoon.svg?pa09z1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-taikhoan:before {
  content: "\e900"; }

.icon-taixuong:before {
  content: "\e901"; }

.icon-theodoi:before {
  content: "\e902"; }

.icon-search:before {
  content: "\e905";
  color: #777; }

.icon-trl-nx:before {
  content: "\e907";
  color: #ed624f; }

.icon-cmt:before {
  content: "\e90f";
  color: #777; }

.icon-icon-post:before {
  content: "\e90d";
  color: #c4c4c4; }

.icon-like:before {
  content: "\e909";
  color: #777; }

.icon-share:before {
  content: "\e90b";
  color: #777; }

@font-face {
  font-family: 'SF Pro Display Black';
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BlackItalic';
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BoldItalic';
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display HeavyItalic';
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display LightItalic';
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Light';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display MediumItalic';
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display SemiboldItalic';
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display ThinItalic';
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display UltralightItalic';
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
.set-min-height {
  min-height: 950px; }
  @media only screen and (max-width: 1400px) {
    .set-min-height {
      min-height: 600px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.fade:not(.show) {
  opacity: 1; }

body {
  background: #F9F9F9;
  font-family: "SF Pro Display Regular"; }

.item-box .img-post {
  width: 100%;
  border-radius: 8px; }
.item-box .mo-ta {
  line-height: 25px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 20px;
  color: #333333;
  font-size: 14px; }
  .item-box .mo-ta p {
    margin: 5px; }
.item-box .title-post {
  position: relative;
  width: 100%;
  padding: 20px 20px 0 20px;
  display: inline-flex; }
  .item-box .title-post .icon-icon-post {
    font-size: 5px; }
  .item-box .title-post img {
    width: 40px;
    height: 40px;
    border-radius: 100px; }
  .item-box .title-post .tieu-de {
    margin: 5px 15px 0;
    font-weight: 700;
    color: #333333;
    font-size: 16px; }
    .item-box .title-post .tieu-de a {
      font-weight: 700;
      color: #333333;
      font-size: 16px;
      text-decoration: none; }
  .item-box .title-post .time {
    margin-top: 4px;
    color: #777777 !important;
    color: #333333;
    font-size: 14px; }
  .item-box .title-post .dropdown.more-action {
    font-size: 20px;
    cursor: pointer;
    right: 2%;
    top: 20%;
    position: absolute; }
    .item-box .title-post .dropdown.more-action .dropdown-content {
      display: block;
      right: 0;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .item-box .title-post .dropdown.more-action .dropdown-content a {
        color: #333333;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
        font-size: 14px; }
        .item-box .title-post .dropdown.more-action .dropdown-content a:hover:hover, .item-box .title-post .dropdown.more-action .dropdown-content a:hover:focus {
          color: #E66B4B;
          text-decoration: none;
          outline: none; }
.item-box .tuongtac {
  display: inline-flex;
  padding: 10px 0 15px 15px; }
  .item-box .tuongtac a {
    font-size: 14px;
    color: #777777;
    margin-right: 40px; }
    .item-box .tuongtac a:hover, .item-box .tuongtac a:focus {
      color: #E66B4B;
      text-decoration: none;
      outline: none; }
    .item-box .tuongtac a i {
      font-size: 16px;
      margin: 0 5px; }
.item-box .binhluan {
  padding: 15px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #E9E9EB; }
.item-box .binhluan {
  position: relative; }
  .item-box .binhluan i {
    margin-right: 5px; }
  .item-box .binhluan p {
    cursor: pointer; }
  .item-box .binhluan .mo-ta {
    padding-left: 56px;
    margin-top: -15px; }
    .item-box .binhluan .mo-ta .arrow_carrot-down {
      font-size: 18px; }
    .item-box .binhluan .mo-ta p {
      margin: 3px 0; }
    .item-box .binhluan .mo-ta a {
      color: #777777;
      font-size: 12px;
      text-decoration: none; }
    .item-box .binhluan .mo-ta .ykien {
      padding: 0px;
      border: 1px solid #E9E9EB;
      border-radius: 6px; }
  .item-box .binhluan .title-post {
    padding: 0; }
  .item-box .binhluan .like {
    color: #777777;
    text-decoration: none;
    display: grid;
    position: absolute;
    right: 2%;
    top: 27%;
    font-size: 13px; }
.item-box .traloi-BL {
  display: flex; }
  .item-box .traloi-BL img {
    padding: 5px;
    width: 35px;
    height: 35px;
    border-radius: 100px; }
  .item-box .traloi-BL input {
    outline: none;
    width: 90%;
    border: 1px solid #E9E9EB;
    background-color: #F9F9F9;
    padding: 5px;
    color: #777777; }
.item-box .ykien {
  display: flex;
  background-color: #F9F9F9;
  border-top: 1px solid #E9E9EB;
  padding: 15px; }
  .item-box .ykien input {
    border: 0;
    outline: none;
    width: 90%;
    border: 0;
    background-color: transparent;
    margin-left: 10px;
    color: #777777; }

.item-box {
  overflow: hidden;
  margin: 20px 0;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  border-radius: 6px; }

.hoidap {
  margin-top: 30px;
  color: #333333;
  font-size: 26px;
  font-weight: bold;
  font-family: "SF Pro Display Regular"; }

/* MODAL */
.modal-danhgia .modal-dialog {
  height: 100vh;
  position: absolute; }
.modal-danhgia .modal-header {
  display: block; }
  .modal-danhgia .modal-header .close {
    float: left;
    font-size: 38px;
    font-weight: normal;
    margin-right: 20px; }
    .modal-danhgia .modal-header .close:hover {
      outline: 0; }
.modal-danhgia .modal-title {
  color: #333333 !important;
  font-size: 26px !important; }
.modal-danhgia span {
  color: #333333;
  font-size: 16px;
  margin: 10px; }
.modal-danhgia .modal-dialog {
  transform: translate(0, 0%) !important;
  margin: 0; }
  .modal-danhgia .modal-dialog .modal-content {
    height: 100vh;
    width: 833px;
    background-color: #F9F9F9;
    border: 0;
    border-radius: 0;
    box-shadow: none; }
    .modal-danhgia .modal-dialog .modal-content .btn-vietdanhgia {
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      /* width: 150px; */
      min-width: 150px;
      margin-left: 15px;
      background-color: #C4C4C4; }
    .modal-danhgia .modal-dialog .modal-content .tieude-modal {
      display: flex; }
.modal-danhgia .modal-body .list-star {
  display: flex;
  margin: 15px 15px 0; }
.modal-danhgia .modal-body .bg-star {
  margin-right: 3px;
  background: #c4c4c4;
  border-radius: 1px;
  padding: 9px; }
  .modal-danhgia .modal-body .bg-star:hover {
    background-color: #E66B4B; }
.modal-danhgia .modal-body .vietdanhgia {
  overflow: hidden; }
  .modal-danhgia .modal-body .vietdanhgia textarea {
    height: 125px;
    outline: none;
    margin-top: 20px;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #E9E9EB;
    border-radius: 6px; }
  .modal-danhgia .modal-body .vietdanhgia .gui-danhgia {
    float: right;
    margin-top: 15px;
    margin-bottom: 25px; }
    .modal-danhgia .modal-body .vietdanhgia .gui-danhgia .btn-guidanhgia {
      margin-left: 10px;
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      /* width: 150px; */
      min-width: 150px; }
      .modal-danhgia .modal-body .vietdanhgia .gui-danhgia .btn-guidanhgia:hover {
        background-color: #F7C24A;
        color: white; }
.modal-danhgia .modal-body .tuongtac a {
  color: #777777;
  margin: 0 15px 0 0; }
  .modal-danhgia .modal-body .tuongtac a span {
    font-size: 14px;
    margin: 0; }
.modal-danhgia .modal-body .item-box .binhluan {
  border-top: 0; }
.modal-danhgia .modal-body .item-box .list-star .bg-star {
  padding: 2px !important; }
.modal-danhgia .modal-body .item-box .mo-ta .traloi-NX a {
  color: #E66B4B; }
.modal-danhgia .modal-body .item-box .mo-ta p {
  margin-bottom: 0;
  display: flex; }
  .modal-danhgia .modal-body .item-box .mo-ta p a {
    display: block;
    position: unset; }
    .modal-danhgia .modal-body .item-box .mo-ta p a span {
      margin-left: 0;
      font-size: 14px;
      color: #777777; }
.modal-danhgia .modal-body .xemthem-danhgia {
  background-color: #E66B4B;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 0;
  /* width: 150px; */
  min-width: 150px;
  font-size: 14px;
  /* width: 195px; */
  min-width: 150px;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #E9E9EB;
  position: absolute;
  bottom: 20px;
  -ms-transform: translateY(-50%);
  transform: translateX(150%); }
  .modal-danhgia .modal-body .xemthem-danhgia:focus {
    outline: none; }

.modal-post .modal-content {
  height: 100%;
  width: 100%;
  background-color: #000000;
  border: 0;
  border-radius: 0;
  box-shadow: none; }
  .modal-post .modal-content .modal-body {
    height: 100%;
    padding: 0 20px; }
  .modal-post .modal-content .item-box {
    margin: 0;
    height: 100%; }
    .modal-post .modal-content .item-box .ykien {
      outline: none;
      background-color: transparent;
      border: 0; }
      .modal-post .modal-content .item-box .ykien input {
        border: 1px solid #E9E9EB;
        background-color: #f9f9f9;
        padding: 10px; }
  .modal-post .modal-content .modal-header {
    position: fixed;
    z-index: 99;
    border: 0;
    display: block; }
    .modal-post .modal-content .modal-header .close {
      float: left;
      font-size: 38px;
      font-weight: normal;
      color: white; }
      .modal-post .modal-content .modal-header .close:focus {
        outline: none; }
.modal-post .modal-dialog {
  transform: translate(0, -26px) !important;
  height: 100vh;
  position: absolute;
  width: 100%;
  max-width: 100%; }

.scrollbar-danhgia {
  overflow: scroll;
  height: 565px; }
  .scrollbar-danhgia .item-box:first-child {
    margin-top: 0; }

#style-4::-webkit-scrollbar {
  width: 2px; }

#style-4::-webkit-scrollbar-thumb {
  background-color: #E66B4B; }

/* xem tat ca hinh anh */
.slide-img #sync1 .item {
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center; }
.slide-img #sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer; }
  .slide-img #sync2 .item h1 {
    font-size: 18px; }
.slide-img #sync2 .current .item {
  background: #0c83e7; }
.slide-img .owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */ }
  .slide-img .owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease; }
    .slide-img .owl-theme .owl-nav [class*='owl-'].disabled:hover {
      background-color: #D6D6D6; }
.slide-img #sync1.owl-theme {
  position: relative; }
  .slide-img #sync1.owl-theme .owl-next,
  .slide-img #sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%; }
  .slide-img #sync1.owl-theme .owl-prev {
    left: 10px; }
  .slide-img #sync1.owl-theme .owl-next {
    right: 10px; }
.slide-img .modal-dialog {
  position: unset; }

/* end xem tat ca hinh anh */
.modal-backdrop.in {
  opacity: 0.8; }

.chitiet-vbpl {
  border-bottom: 0 !important; }

.center-document .suggest-ls .list-ls {
  border-bottom: 0 !important; }

/* edit home*/
.menu-left, .menu-left-tk {
  margin: 20px 0; }
  .menu-left ul, .menu-left-tk ul {
    padding: 0; }
    .menu-left ul li, .menu-left-tk ul li {
      list-style: none;
      margin: 30px 0; }
      .menu-left ul li.active a, .menu-left-tk ul li.active a {
        color: #E66B4B; }
      .menu-left ul li i, .menu-left-tk ul li i {
        margin-right: 10px; }
      .menu-left ul li a, .menu-left-tk ul li a {
        white-space: nowrap;
        text-decoration: none;
        color: #333333;
        font-size: 16px;
        font-weight: bold; }

.center-home .stt textarea {
  position: relative;
  height: 75px;
  outline: none;
  padding: 15px 15px 15px 70px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #E9E9EB; }
  .center-home .stt textarea::placeholder {
    color: #777777; }
.center-home .stt .ava-post {
  position: absolute;
  left: 30px;
  top: 35px; }
.center-home .stt .action-post {
  overflow: hidden;
  padding: 10px 20px; }
  .center-home .stt .action-post p {
    float: left; }
  .center-home .stt .action-post a {
    margin: 10px; }
  .center-home .stt .action-post button {
    float: right;
    background: rgba(230, 107, 75, 0.5);
    border-radius: 40px;
    color: #fff;
    border: 0;
    padding: 10px 30px; }
.center-home .td-timkiem {
  margin-top: 20px; }
.center-home .suggest-ls .xemthem-ls {
  text-align: center;
  color: #E66B4B;
  display: block;
  padding: 0px 0 20px 0;
  text-decoration: none; }
.center-home .suggest-ls .list-ls {
  border-bottom: 1px solid #E9E9EB; }
.center-home .suggest-ls .list-right h4 {
  padding-left: 20px;
  font-size: 26px; }
.center-home .suggest-ls .list-right ul {
  padding-left: 20px; }
  .center-home .suggest-ls .list-right ul .tongnx {
    color: #777777;
    text-decoration-line: underline;
    font-size: 13px;
    margin-left: 5px; }
  .center-home .suggest-ls .list-right ul .ten {
    font-weight: bold; }
  .center-home .suggest-ls .list-right ul .diachi {
    margin-top: -5px;
    color: #777777; }
.center-home .list-news ul {
  overflow: hidden; }
  .center-home .list-news ul li {
    min-height: 92px; }
  .center-home .list-news ul img {
    position: absolute;
    right: 15px;
    width: 160px;
    height: 90px; }
  .center-home .list-news ul h5 {
    margin-top: 0; }
    .center-home .list-news ul h5 a {
      padding-left: 0;
      font-size: 14px;
      font-weight: 700; }
  .center-home .list-news ul .mota-tt {
    font-size: 14px;
    padding-left: 0;
    color: #777777;
    font-weight: normal; }
    .center-home .list-news ul .mota-tt a {
      color: #777777;
      display: revert; }
.center-home .list-news p i {
  margin-right: 0; }

.list-right {
  margin: 20px 0;
  border-bottom: 1px solid #E9E9EB; }
  .list-right p {
    padding-left: 35px;
    color: #333333;
    font-size: 18px;
    font-weight: 700; }
    .list-right p span {
      color: #E66B4B; }
    .list-right p i {
      font-size: 20px;
      margin-right: 5px; }
  .list-right ul li {
    list-style: none;
    margin: 30px 0; }
    .list-right ul li a {
      color: #333333;
      line-height: 24px;
      text-decoration: none;
      font-size: 14px;
      display: flex; }
      .list-right ul li a img {
        margin-right: 15px;
        width: 40px;
        height: 40px; }

.list-ls {
  border-bottom: 0; }
  .list-ls ul li {
    margin: 15px 0; }
  .list-ls .rating-ls {
    display: inline-grid; }
    .list-ls .rating-ls span {
      color: #E66B4B;
      font-size: 14px; }
    .list-ls .rating-ls p {
      color: #333333;
      padding-left: 0;
      font-weight: normal;
      font-size: 14px; }

/* FOOTER */
footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #DBDBDB;
  padding-bottom: 50px; }
  footer .bg-footer {
    display: flex; }
    footer .bg-footer .footer-left {
      float: left;
      padding-left: 100px; }
      footer .bg-footer .footer-left li {
        float: left;
        font-size: 13px;
        list-style: none;
        margin: 10px; }
        footer .bg-footer .footer-left li a {
          text-decoration: none;
          color: #777777; }
    footer .bg-footer .footer-right {
      float: right;
      padding-right: 100px; }
      footer .bg-footer .footer-right a {
        font-size: 13px;
        text-decoration: none;
        color: #777777;
        margin-left: 10px; }

/* THONG TIN TAI KHOAN */
.TT-tai-khoan {
  margin-top: 10px;
  background: linear-gradient(90deg, #fafafc 0%, #fafafc 34%, white 34%, white 100%); }

.btn-nangcap {
  background-color: #E66B4B;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 0;
  /* width: 150px; */
  min-width: 150px;
  border: 0; }
  .btn-nangcap a {
    color: white;
    text-decoration: none; }
  .btn-nangcap:hover:hover {
    background-color: #F7C24A;
    color: white; }
  .btn-nangcap:hover:focus {
    color: #E66B4B;
    text-decoration: none;
    outline: none; }
  .btn-nangcap img {
    margin-right: 10px;
    margin-top: -2px; }

.item-add-gallary {
  border: 1px solid #E9E9EB;
  border-radius: 4px;
  text-align: center;
  height: 110px;
  cursor: pointer;
  padding-top: 35px; }
  .item-add-gallary button {
    border: 0;
    background: none;
    box-shadow: none;
    outline: none;
    position: relative; }
    .item-add-gallary button img {
      width: 40px;
      margin: auto; }

.bg-tk-white {
  background-color: white; }

.edit-tk .edit-ava {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  position: relative;
  margin: 20px auto; }
  .edit-tk .edit-ava .icon-edit {
    cursor: pointer;
    background-color: #E66B4B;
    position: absolute;
    padding: 10px;
    border-radius: 100px;
    bottom: 0;
    right: 10px; }
.edit-tk .edit-TTtaikhoan {
  overflow: hidden; }
  .edit-tk .edit-TTtaikhoan .btn-editTK {
    background-color: #E66B4B;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 28px;
    border-radius: 0;
    /* width: 150px; */
    min-width: 150px;
    background: #E4E4E4;
    border: 0; }
  .edit-tk .edit-TTtaikhoan label {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    color: #777777; }
  .edit-tk .edit-TTtaikhoan input {
    border: 1px solid #E9E9EB;
    box-shadow: none;
    border-radius: 0;
    min-height: 40px; }
  .edit-tk .edit-TTtaikhoan .form-check .form-check-input {
    min-height: 0; }
  .edit-tk .edit-TTtaikhoan .form-check .form-check-label {
    color: #333333;
    font-weight: normal;
    margin-left: 5px; }
.edit-tk .thaydoi-mk {
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  box-sizing: border-box;
  box-shadow: -1px 0px 18px rgba(230, 107, 75, 0.08);
  margin: 20px;
  padding: 30px 20px; }
  .edit-tk .thaydoi-mk .capnhat-mk {
    margin-top: 20px;
    text-align: center; }
    .edit-tk .thaydoi-mk .capnhat-mk .btn-huy {
      margin: 0 10px;
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      /* width: 150px; */
      min-width: 150px;
      border: 1px solid #E9E9EB;
      background-color: white;
      color: red; }
    .edit-tk .thaydoi-mk .capnhat-mk .btn-save {
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      /* width: 150px; */
      min-width: 150px;
      border: 0;
      font-weight: normal;
      margin: 0 10px; }
      .edit-tk .thaydoi-mk .capnhat-mk .btn-save:hover:hover {
        background-color: #F7C24A;
        color: white; }
      .edit-tk .thaydoi-mk .capnhat-mk .btn-save:hover:focus {
        color: #E66B4B;
        text-decoration: none;
        outline: none; }

/* Hide the browser's default checkbox */
.form-check .style-check {
  padding-left: 30px;
  color: #333333 !important;
  font-weight: normal !important; }
  .form-check .style-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .form-check .style-check .checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 20px;
    width: 20px;
    background-color: #E4E4E4; }
    .form-check .style-check .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

/* When the checkbox is checked, add a blue background */
.style-check input:checked ~ .checkmark {
  background-color: #E66B4B; }

/* Show the checkmark when checked */
.style-check input:checked ~ .checkmark:after {
  display: block; }

.menu-left-tk i {
  background-color: #F3F3F3;
  border-radius: 50px;
  padding: 10px; }

.nangcap-tk .item-box {
  overflow: inherit; }
.nangcap-tk .box-search-ls {
  position: relative; }
.nangcap-tk .tieude-tk {
  font-size: 26px;
  margin-top: 20px; }
.nangcap-tk .tieude-form {
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px; }
.nangcap-tk .TT-ca-nhan {
  padding: 0 15px;
  display: inline-block;
  width: 100%; }
  .nangcap-tk .TT-ca-nhan label {
    font-style: normal;
    font-weight: 500;
    color: #777777; }
  .nangcap-tk .TT-ca-nhan input {
    border: 1px solid #E9E9EB;
    box-shadow: none;
    border-radius: 0;
    min-height: 40px; }
  .nangcap-tk .TT-ca-nhan .bootstrap-select {
    width: 100% !important; }
    .nangcap-tk .TT-ca-nhan .bootstrap-select .btn-default {
      border: 1px solid #E9E9EB !important;
      min-height: 40px;
      border: 1px solid #E9E9EB !important;
      border-radius: 0; }
  .nangcap-tk .TT-ca-nhan textarea {
    height: 75px;
    outline: none;
    padding: 15px;
    width: 100%;
    border: 1px solid #E9E9EB; }
.nangcap-tk .giai-thuong {
  padding-left: 15px;
  display: flex;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  border-bottom: 1px solid #E9E9EB; }
  .nangcap-tk .giai-thuong .img-gt img {
    width: 80px;
    height: 80px; }
  .nangcap-tk .giai-thuong p {
    margin-left: 15px; }
  .nangcap-tk .giai-thuong .icon-close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0; }
.nangcap-tk .btn-gui-nang-cap {
  background-color: #E66B4B;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 28px;
  border-radius: 0;
  /* width: 150px; */
  min-width: 150px;
  outline: none;
  border: 0; }
  .nangcap-tk .btn-gui-nang-cap:hover:hover {
    background-color: #F7C24A;
    color: white; }
  .nangcap-tk .btn-gui-nang-cap:hover:focus {
    color: #E66B4B;
    text-decoration: none;
    outline: none; }
.nangcap-tk .hinh-anh-hd {
  position: relative;
  margin: 0;
  padding-bottom: 20px; }
.nangcap-tk .img-box {
  position: relative;
  height: auto;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover; }
  .nangcap-tk .img-box img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    /* position: absolute; */
    object-position: 50% 50%;
    object-fit: cover; }
.nangcap-tk .them-giai {
  text-align: center;
  font-weight: 600; }
  .nangcap-tk .them-giai a {
    text-decoration: none;
    color: #333333; }
.nangcap-tk .dropdown-menu li a {
  padding: 10px 20px; }
  .nangcap-tk .dropdown-menu li a:hover {
    color: white;
    background-color: #E66B4B; }
.nangcap-tk .dropdown-menu .active a {
  background-color: #E66B4B; }
.nangcap-tk .td-lien-ket {
  position: relative; }
.nangcap-tk .search-ls {
  left: 150px;
  position: absolute;
  top: 10px; }
  .nangcap-tk .search-ls img {
    position: absolute;
    top: 10px;
    left: 10px; }
  .nangcap-tk .search-ls input {
    padding: 0 30px;
    border: 0;
    width: 220px;
    min-height: 35px;
    border-radius: 50px;
    background-color: #F3F3F3; }
    .nangcap-tk .search-ls input:focus {
      outline: none; }
.nangcap-tk .list-lk-ls {
  margin: 10px 0; }
  .nangcap-tk .list-lk-ls .title-post {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 10px; }
    .nangcap-tk .list-lk-ls .title-post .tieu-de {
      white-space: nowrap; }
      .nangcap-tk .list-lk-ls .title-post .tieu-de a {
        font-size: 14px; }
    .nangcap-tk .list-lk-ls .title-post .chuc-danh {
      margin-left: 15px;
      color: #777777;
      font-size: 11px; }
.nangcap-tk .upload-hd {
  margin-bottom: 15px; }
  .nangcap-tk .upload-hd .file-input {
    margin-left: 15px; }
    .nangcap-tk .upload-hd .file-input input:hover + label,
    .nangcap-tk .upload-hd .file-input input:focus + label {
      transform: scale(1.02); }
    .nangcap-tk .upload-hd .file-input label {
      margin-top: 10px;
      border: 1px solid #e76b4b;
      display: block;
      position: relative;
      width: 100px;
      height: 33px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E66B4B;
      font-weight: bold;
      cursor: pointer;
      transition: transform .2s ease-out; }
      .nangcap-tk .upload-hd .file-input label i {
        margin-right: 5px; }
    .nangcap-tk .upload-hd .file-input .file {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute; }
    .nangcap-tk .upload-hd .file-input .file-name {
      display: -webkit-box;
      max-height: 4.2rem;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 1;
      position: absolute;
      bottom: -10px;
      left: 113px;
      color: #555;
      width: 300px;
      font-size: 13px; }

/* TAI XUONG */
.head-down {
  position: relative; }
  .head-down .tieude-tk {
    padding-left: 0; }
  .head-down .search-vb {
    top: 0px;
    right: 0;
    position: absolute; }
    .head-down .search-vb img {
      position: absolute;
      top: 10px;
      left: 10px; }
    .head-down .search-vb input {
      outline: 0;
      padding: 0 30px;
      width: 220px;
      min-height: 35px;
      border-radius: 50px;
      border: 1px solid #E9E9EB;
      background-color: transparent; }

.list-down-vb {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%; }
  .list-down-vb thead {
    background: #e76b4b38;
    color: #333333; }
  .list-down-vb th {
    padding: 15px; }
  .list-down-vb td {
    white-space: nowrap;
    text-align: left;
    padding: 10px 15px; }
    .list-down-vb td img {
      width: 32px;
      margin-right: 10px;
      height: 32px; }
    .list-down-vb td a {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 1;
      text-decoration: none;
      color: #333333; }
  .list-down-vb tbody tr:hover {
    background-color: #e9e9eb !important; }
  .list-down-vb tbody tr:nth-child(even) {
    background: #ffff; }
  .list-down-vb tbody tr:nth-child(odd) {
    background: #F9F9F9; }

.ds-da-luu {
  margin: 25px 0; }
  .ds-da-luu .ngay-luu {
    font-weight: 600; }

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important; }

/* TIN TUC */
@media (min-width: 1500px) {
  .container {
    width: 1380px; } }
.body-whites {
  background-color: white; }

.bg-grays {
  background-color: #F9F9F9; }

.breadcrumbs {
  padding-left: 15px;
  padding-bottom: 15px; }
  .breadcrumbs a {
    color: #777777;
    font-size: 12px;
    text-decoration: none; }

.blogs {
  display: inline-block;
  width: 100%;
  margin-top: 25px; }
  .blogs .min-height-blg {
    min-height: 670px; }
  .blogs article {
    position: relative; }
  .blogs .blog-image:hover {
    transform: scale(1.014);
    transition: .3s ease-in-out; }
  .blogs a {
    text-decoration: none;
    line-height: 26px; }
  .blogs .blog-image {
    position: relative;
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%;
    padding-top: 80%; }
    .blogs .blog-image img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .blogs .overlap-title {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    background: white;
    width: 650px;
    margin-top: -100px;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
    bottom: -100px;
    position: absolute; }
    .blogs .overlap-title .td-danh-muc {
      margin-top: 0; }
      .blogs .overlap-title .td-danh-muc a {
        text-decoration: none;
        color: #E66B4B;
        font-size: 14px;
        text-transform: uppercase; }
    .blogs .overlap-title h1 a {
      text-decoration: none;
      color: #333333;
      font-size: 42px; }
    .blogs .overlap-title p a {
      color: #333333;
      font-size: 16px;
      font-weight: normal;
      text-decoration: none; }
  .blogs .blogs-sidebar h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0; }
  .blogs .blogs-sidebar .list-popular-post {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0; }
    .blogs .blogs-sidebar .list-popular-post li {
      border-bottom: 1px solid #E6E9F0;
      margin: 0;
      padding: 20px 0;
      width: 100%;
      line-height: 1.2; }
      .blogs .blogs-sidebar .list-popular-post li a {
        font-size: 16px;
        color: #777777;
        font-weight: 600; }

.danh-muc-tin {
  padding: 30px 0; }
  .danh-muc-tin:hover {
    transform: scale(1.014);
    transition: .3s ease-in-out; }
  .danh-muc-tin figure {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%; }
    .danh-muc-tin figure img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .danh-muc-tin img {
    width: 100%;
    margin-bottom: 10px; }
  .danh-muc-tin h5 a {
    text-decoration: none;
    font-size: 13px;
    color: #E66B4B; }
  .danh-muc-tin h1 {
    margin-top: 0;
    display: -webkit-box;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
    .danh-muc-tin h1 a {
      text-decoration: none;
      font-size: 22px;
      color: #333333;
      font-weight: bold;
      line-height: 30px; }
  .danh-muc-tin p {
    margin-top: 10px; }
    .danh-muc-tin p a {
      text-decoration: none;
      line-height: 24px;
      font-size: 14px;
      color: #333333; }
  .danh-muc-tin .time {
    font-size: 13px;
    color: #9F9F9F; }

.danh-muc .danh-muc-tin {
  padding: 50px 0; }

.td-danh-muc {
  margin-top: 20px; }

.chu-thich-anh {
  text-align: center;
  font-style: italic;
  color: #777777; }

.padding-section3 {
  margin: 50px 0;
  padding-top: 0 !important;
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 60%; }
  .padding-section3 figure {
    transform: translateX(2%);
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%; }
  .padding-section3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .padding-section3 img:hover {
    transform: scale(1.014);
    transition: .3s ease-in-out; }
  .padding-section3 .danh-muc-tin {
    transform: translate(0%, 15%); }
    .padding-section3 .danh-muc-tin:hover {
      box-shadow: unset; }
    .padding-section3 .danh-muc-tin h1 {
      margin-top: 15px;
      -webkit-line-clamp: unset;
      -webkit-box-orient: unset;
      overflow: unset; }
      .padding-section3 .danh-muc-tin h1 a {
        font-size: 42px;
        line-height: 50px; }

.d-m-text-gray .danh-muc-tin {
  background-color: #f9f9f9;
  padding-top: 0;
  margin-bottom: 30px; }
  .d-m-text-gray .danh-muc-tin .noi-dung {
    padding: 0 15px;
    min-height: 140px; }
.d-m-text-gray .td-danh-muc a {
  color: #777777; }

.kham-pha-tt {
  margin: 30px 0 30px 0; }
  .kham-pha-tt h3 {
    font-size: 28px;
    text-align: center;
    font-weight: bold; }
  .kham-pha-tt p {
    text-align: center;
    font-size: 16px;
    color: #777777; }
  .kham-pha-tt .box-kham-pha {
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 #cbd6e2;
    font-size: 18px;
    color: #333333;
    position: relative;
    display: inline-block;
    border-left: 5px solid #E66B4B;
    padding: 20px 0 20px 10px;
    width: 100%;
    margin: 30px 0 10px 0;
    text-decoration: none; }
    .kham-pha-tt .box-kham-pha::after {
      content: '';
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: 15px;
      bottom: 25px;
      display: block;
      width: 10px;
      height: 17px; }
    .kham-pha-tt .box-kham-pha:hover {
      color: #E66B4B; }
  .kham-pha-tt .border-color-1 {
    border-left-color: #E66B4B; }
  .kham-pha-tt .border-color-2 {
    border-left-color: #009688; }
  .kham-pha-tt .border-color-3 {
    border-left-color: #ffc107; }
  .kham-pha-tt .border-color-4 {
    border-left-color: #ff9800; }

.banner-tt {
  height: 48vh;
  width: 100%;
  position: relative;
  background-image: url(../images/banner-tt.png);
  background-repeat: no-repeat; }
  .banner-tt::after {
    background-color: #E0C6BF;
    opacity: 0.2;
    content: '';
    display: block;
    height: 100%;
    width: 100%; }
  .banner-tt .noi-dung-banner {
    padding: 0 100px;
    text-align: center;
    color: white;
    top: 0;
    position: absolute;
    justify-items: center;
    left: 0;
    right: 0;
    transform: translateY(190%); }
    .banner-tt .noi-dung-banner h1 {
      font-size: 52px; }

.pagination {
  display: block;
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #e9e9eb;
  border-radius: 0;
  padding-bottom: 50px; }
  .pagination a {
    color: #E66B4B;
    padding: 10px 15px;
    text-decoration: none; }
    .pagination a.active {
      border: 1px solid #E66B4B;
      color: #E66B4B;
      background-color: #e66b4b1f; }

/*   Table chi tiet van ban phap luat */
.table-vbpl {
  font-size: 13px;
  border: 1px solid #E9E9EB;
  border-collapse: inherit;
  margin-top: 20px; }
  .table-vbpl tr, .table-vbpl td, .table-vbpl th {
    padding: 15px;
    border-bottom: solid 1px #E9E9EB; }
  .table-vbpl .td_1 {
    font-weight: bold;
    color: #333333;
    background-color: #F9F9F9;
    font-family: 'SF Pro Display Bold'; }
  .table-vbpl .hieu-luc {
    color: #A32018; }
  .table-vbpl .updating {
    color: #777777;
    font-style: italic; }

/*   Chi tiet in tuc */
.chi-tiet-tt {
  margin-top: 0; }

.noi-dung-tt {
  padding: 0 215px; }
  .noi-dung-tt ul li {
    margin: 10px 0;
    list-style: none !important; }
    .noi-dung-tt ul li a {
      text-decoration: none;
      color: #333333; }
  .noi-dung-tt hr {
    width: 100%; }
  .noi-dung-tt figure img {
    width: 100%; }
  .noi-dung-tt p {
    margin-bottom: 30px;
    padding: 0 75px;
    line-height: 27px;
    font-size: 16px;
    text-align: justify; }
    .noi-dung-tt p .chu-thich-anh {
      text-align: center;
      display: block;
      font-style: italic;
      color: #777777; }
      .noi-dung-tt p .chu-thich-anh img {
        width: 100%;
        margin-bottom: 10px; }
  .noi-dung-tt h1 {
    padding: 0 75px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px; }
  .noi-dung-tt .tags-tt {
    padding-left: 75px;
    width: 100%;
    margin: 30px 0; }
    .noi-dung-tt .tags-tt span {
      color: #353F60;
      font-size: 16px; }
    .noi-dung-tt .tags-tt a {
      display: inline-flex;
      border: 1px solid #E66B4B;
      padding: 10px 20px;
      color: #E66B4B;
      background-color: white;
      border-radius: 50px;
      text-decoration: none;
      margin: 0 3px 10px 3px; }
  .noi-dung-tt .binh-luan-tt {
    padding: 0 75px;
    margin: 30px 0 20px 0; }
    .noi-dung-tt .binh-luan-tt .tieu-de-bl {
      font-weight: bold;
      position: relative;
      border-bottom: 1px solid #E9E9EB;
      padding-bottom: 10px;
      font-size: 18px;
      width: 100%;
      margin-bottom: 15px; }
      .noi-dung-tt .binh-luan-tt .tieu-de-bl::after {
        content: " ";
        width: 90px;
        height: 1px;
        background: #E66B4B;
        position: absolute;
        bottom: -1px;
        left: 0; }
    .noi-dung-tt .binh-luan-tt textarea {
      border-radius: 0;
      border: 1px solid #e9e9eb;
      width: 786px;
      height: 85px;
      box-shadow: none;
      margin: 20px 0; }
      .noi-dung-tt .binh-luan-tt textarea::placeholder {
        color: #939393;
        padding: 10px;
        font-weight: normal; }
      .noi-dung-tt .binh-luan-tt textarea:focus {
        border-color: #E66B4B; }
    .noi-dung-tt .binh-luan-tt .btn-bl-tt {
      text-align: right; }
      .noi-dung-tt .binh-luan-tt .btn-bl-tt button {
        background-color: #E66B4B;
        font-weight: bold;
        color: #ffffff;
        font-size: 16px;
        padding: 10px 28px;
        border-radius: 0;
        /* width: 150px; */
        min-width: 150px;
        border: 0;
        background-color: #E0E0E0;
        color: #777777;
        font-size: 16px;
        font-weight: bold; }
        .noi-dung-tt .binh-luan-tt .btn-bl-tt button:focus {
          outline: none; }
    .noi-dung-tt .binh-luan-tt .ds-binh-luan .title-post {
      display: inline-flex; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .title-post img {
        width: 40px;
        height: 40px;
        border-radius: 100px; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .title-post .tieu-de {
        font-weight: bold;
        margin: 5px 15px 0;
        font-weight: 700;
        color: #333333;
        font-size: 16px; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .title-post .time {
        margin-top: 4px;
        color: #777777 !important;
        color: #333333;
        font-size: 14px; }
    .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta {
      padding-left: 56px;
      line-height: 25px;
      margin-top: -10px;
      padding-right: 20px;
      color: #333333;
      font-size: 14px; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta .icon-trl-nx {
        margin: 0 5px; }
        .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta .icon-trl-nx::before {
          color: #777777 !important; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta .traloi-BL .title-post {
        margin-top: 20px; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta .traloi-BL input {
        width: 100%;
        border: 1px solid #E9E9EB;
        background-color: white;
        padding: 10px;
        margin: 20px 0; }
        .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta .traloi-BL input:focus {
          border-color: #E66B4B;
          outline: none; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta .arrow_carrot-down {
        font-size: 18px; }
      .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta p {
        cursor: pointer;
        padding: 0;
        margin-bottom: 0; }
        .noi-dung-tt .binh-luan-tt .ds-binh-luan .mo-ta p a {
          color: #777777;
          font-size: 13px;
          text-decoration: none; }

.tt-lien-quan {
  margin-top: 30px;
  border-top: 1px solid #e9e9eb; }
  .tt-lien-quan h2 {
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
    font-size: 32px; }

/* Option Hinh anh bai viet */
.box-one-img {
  margin: 0 !important;
  padding: 0 15px !important; }

.anh-bai-viet {
  padding: 0 15px;
  margin-left: -2px;
  margin-right: -2px; }
  .anh-bai-viet img {
    border-radius: 0 !important; }
  .anh-bai-viet .more-img a {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    font-size: 36px;
    text-align: center;
    left: 0;
    right: 0; }
  .anh-bai-viet .col-md-6 {
    padding: 0 2px; }
  .anh-bai-viet .col-md-12 {
    padding: 0 2px; }
  .anh-bai-viet .one-img {
    width: 100%;
    margin-bottom: 4px; }
  .anh-bai-viet .two-img {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%;
    padding-top: 80%; }
    .anh-bai-viet .two-img img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

/* Modal slider  */
.modal-slider {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  .modal-slider:target {
    opacity: 1;
    pointer-events: auto; }
  .modal-slider .noi-dung-modal {
    width: 960px;
    position: relative;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
    background: #00000040; }
    .modal-slider .noi-dung-modal i {
      font-size: 30px; }
    .modal-slider .noi-dung-modal #image-gallery {
      height: 60vh !important; }
    .modal-slider .noi-dung-modal .thumb-slider {
      position: relative;
      height: auto;
      overflow: hidden;
      padding-top: 60%;
      height: 100%;
      padding-top: 0; }
      .modal-slider .noi-dung-modal .thumb-slider img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0; }
    .modal-slider .noi-dung-modal .close {
      font-size: 20px;
      font-weight: normal;
      color: #FFFFFF;
      position: absolute;
      left: -3px;
      text-align: center;
      top: -25px;
      width: 10px;
      z-index: 9999;
      text-decoration: none; }
    .modal-slider .noi-dung-modal .lslide img {
      overflow: hidden; }
    .modal-slider .noi-dung-modal .lightSlider.lsGrab > * {
      justify-content: center;
      height: 100%;
      align-items: center;
      display: flex; }
    .modal-slider .noi-dung-modal .lSSlideOuter .lSGallery li {
      height: 70px; }
      .modal-slider .noi-dung-modal .lSSlideOuter .lSGallery li.active {
        border: 1px solid #E66B4B; }

/* Modal bai viet */
#myModal2 {
  padding: 20px;
  font-family: "SF Pro Display Regular"; }
  #myModal2 .lSPager {
    display: none; }
  #myModal2 .lSSlideOuter {
    width: 1100px;
    margin: auto; }
    #myModal2 .lSSlideOuter .thumb-slider {
      width: 1100px; }
  #myModal2 .item.center-img {
    height: 100% !important;
    display: flex;
    align-items: center !important; }
  #myModal2 .lSSlideWrapper #content-slider {
    height: 600px; }
  #myModal2 .noi-dung-modal {
    margin: 18px 0;
    height: 100%;
    width: 100%; }
    #myModal2 .noi-dung-modal .item-box {
      height: 100%;
      margin-top: 0; }
      #myModal2 .noi-dung-modal .item-box p {
        font-size: 14px; }
  #myModal2 .ykien {
    outline: none;
    background-color: transparent;
    border: 0; }
  #myModal2 .traloi-BL {
    display: flex;
    padding-top: 15px; }
  #myModal2 input {
    height: 35px;
    font-size: 14px;
    border: 1px solid #E9E9EB;
    background-color: #f9f9f9;
    padding: 10px; }

.menu-mb {
  display: none; }

.search-mb {
  display: none; }

.icon-search-mb {
  display: none; }

.close-search {
  display: none; }

.mb-profile {
  display: none; }

.pc-profile {
  display: block; }

#modal-xem-nhanh .modal-dialog {
  left: 0%;
  top: 30%; }
  #modal-xem-nhanh .modal-dialog .modal-content {
    padding: 15px 20px; }
#modal-xem-nhanh .modal-header .close {
  margin-top: -35px; }
  #modal-xem-nhanh .modal-header .close span {
    font-size: 30px; }
#modal-xem-nhanh .modal-body p {
  line-height: 30px; }
#modal-xem-nhanh .modal-body .xem-them-vb {
  color: #E66B4B;
  text-decoration: none; }

.xem-nhanh {
  text-decoration: none !important;
  color: #E66B4B;
  cursor: pointer; }

.bg-full .contact .detail-contact {
  margin-left: 0;
  padding: 30px 30px 20px 40px; }

.icon_adjust-horiz {
  color: #777777; }

.sort-mb {
  display: none; }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent; }

.center-document .tab-vbpl .nav-tabs {
  border-color: #E9E9EB;
  overflow-x: scroll;
  padding: 2px 0;
  height: auto;
  white-space: nowrap;
  border-bottom: 1px solid #f9f9f9;
  width: 100%;
  flex-wrap: unset; }
  .center-document .tab-vbpl .nav-tabs li a {
    font-size: 14px; }

.list-search .content-srcoll .filter .col-md-2 {
  float: left; }

.logout-mb {
  display: none; }

/* Style slect-box tai khoan */
.custom-select {
  position: relative;
  border-radius: 0; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: transparent; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #333333;
  border: 1px solid transparent;
  border-color: 0;
  cursor: pointer;
  user-select: none; }

.select-items div {
  padding: 10px 15px; }

/*style items (options):*/
.select-items {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  left: 0;
  right: 0;
  margin-top: 5px;
  z-index: 999; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: #E66B4B;
  color: white; }

/*========= Page Dang ky Dang Nhap ==========*/
.main-login {
  background: linear-gradient(123.44deg, rgba(230, 107, 75, 0.06) 42.97%, rgba(250, 232, 227, 0.06) 54.25%, rgba(247, 194, 74, 0.06) 97.83%);
  min-height: 100vh;
  display: flex;
  align-items: center; }
  .main-login .logo-login {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    text-align: center; }

.login-page {
  position: relative;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 4px 3px #9e9e9e1c;
  padding: 40px;
  max-width: 565px;
  height: 500px;
  margin: 40px auto;
  border-radius: 6px;
  width: 100%; }
  .login-page input::placeholder {
    color: #777777;
    font-size: 14px; }
  .login-page .btn-sign {
    text-align: center; }
    .login-page .btn-sign button {
      background-color: #E66B4B;
      font-weight: bold;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 28px;
      border-radius: 0;
      /* width: 150px; */
      min-width: 150px;
      min-height: 45px;
      width: 100%;
      border: 0;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px; }
      .login-page .btn-sign button:hover:hover {
        background-color: #F7C24A;
        color: white; }
      .login-page .btn-sign button:hover:focus {
        color: #E66B4B;
        text-decoration: none;
        outline: none; }
  .login-page .or-login {
    text-align: center;
    margin: 20px; }
    .login-page .or-login span {
      color: #777777;
      font-size: 13px; }
    .login-page .or-login .socical-login {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 15px; }
      .login-page .or-login .socical-login a {
        margin: 0 15px; }
  .login-page a {
    text-decoration: none; }
    .login-page a .forgot-password {
      text-align: center;
      font-size: 13px;
      color: #777777;
      margin-top: 20px;
      margin-bottom: 0; }
  .login-page .input-checkbox100 {
    display: none; }
  .login-page .label-checkbox100 {
    font-size: 13px;
    color: #777777;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer; }
    .login-page .label-checkbox100:before {
      content: "\f00c";
      font-family: FontAwesome;
      font-size: 13px;
      color: transparent;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      left: 0;
      top: 48%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .login-page .input-checkbox100:checked + .label-checkbox100::before {
    color: white;
    background-color: #E66B4B;
    border: 0; }
  .login-page .form-group {
    margin: 20px 0; }
  .login-page input {
    border: 1px solid #E5E5E5;
    border-radius: 0;
    padding: 9px 10px;
    min-height: 45px;
    font-size: 14px;
    font-weight: normal;
    width: 100%; }
    .login-page input:focus {
      border: 1px solid #E66B4B;
      outline: 0;
      border-radius: 0; }
  .login-page .tab-login .nav-tabs {
    border-bottom: 0;
    margin-bottom: 30px;
    justify-content: center; }
    .login-page .tab-login .nav-tabs li {
      padding: 0 50px; }
      .login-page .tab-login .nav-tabs li a {
        color: #333333;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold; }
      .login-page .tab-login .nav-tabs li.active {
        color: #E66B4B;
        border-bottom: 3px solid #E66B4B; }
        .login-page .tab-login .nav-tabs li.active a {
          color: #E66B4B;
          border-radius: 0;
          border: 0; }

/* =========Responsive =========*/
/*===== For  Tablet ngang===== */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nangcap-tk .giai-thuong p {
    margin-left: 30px; }

  .nangcap-tk .search-ls {
    top: 8px; }
  .nangcap-tk .list-lk-ls .title-post {
    padding-right: 0; }
    .nangcap-tk .list-lk-ls .title-post .tieu-de {
      white-space: normal; }

  .bg-white .title-large {
    font-size: 28px; }

  .box-starrating .number-rating2 {
    margin: -10px 0 0px 5px; }
  .box-starrating .btn3 {
    width: 100%;
    margin: 10px 0; }
    .box-starrating .btn3 .review, .box-starrating .btn3 .view {
      width: 100%;
      display: block;
      text-align: center; }

  .contact .detail-contact .name {
    font-size: 24px; }
  .contact .ava {
    margin-bottom: 45px; }
    .contact .ava img {
      width: 150px;
      height: 150px; }

  .contact-right {
    text-align: right;
    padding-left: 0 !important;
    padding-right: 15px; }

  .header-top {
    position: relative; }
    .header-top .search-box {
      width: 100%; }
    .header-top .col-xs-12.col-md-2 {
      position: initial; }
    .header-top .login {
      position: absolute;
      right: 15px;
      top: 24px; }
    .header-top .col-xs-12.col-md-8 {
      width: 500px;
      -ms-flex: 0 0 500px 0;
      flex: 0 0 500px 0;
      max-width: 500px;
      margin: auto; }
      .header-top .col-xs-12.col-md-8 .search-box {
        margin-left: 0; }

  .banner2, .banner {
    margin-top: 10px;
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%;
    padding-top: 40%; }
    .banner2 img, .banner img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
    .banner2 img, .banner img {
      border-radius: 6px 6px 0 0; }

  .modal-danhgia .modal-title {
    font-size: 20px !important; }
  .modal-danhgia .modal-dialog .modal-content {
    height: auto;
    width: 100%; }
    .modal-danhgia .modal-dialog .modal-content .tieude-modal {
      display: block;
      position: relative; }
    .modal-danhgia .modal-dialog .modal-content .btn-vietdanhgia {
      position: absolute;
      right: 0;
      top: 0; }
    .modal-danhgia .modal-dialog .modal-content .modal-header .close {
      margin-right: 0; }
    .modal-danhgia .modal-dialog .modal-content .xemthem-danhgia {
      bottom: 4px;
      left: -137px; }

  .blogs .overlap-title {
    width: 550px;
    bottom: -200px; }

  .padding-section3 .danh-muc-tin {
    transform: translate(0%, -10%); }

  .noi-dung-tt {
    padding: 0 50px; }

  .banner-tt .noi-dung-banner {
    transform: translateY(80%); }

  .set-logout .logut-pc {
    display: none; }
  .set-logout .logout-mb {
    display: block;
    height: 310px; }
    .set-logout .logout-mb .btn-nangcap {
      padding: 8px 28px; }
      .set-logout .logout-mb .btn-nangcap img {
        width: 20px !important;
        height: 20px !important; }
    .set-logout .logout-mb ul {
      margin-top: 15px;
      overflow-y: scroll;
      height: 200px; }
      .set-logout .logout-mb ul li {
        list-style: none;
        margin-bottom: 30px;
        margin-top: 20px; }
        .set-logout .logout-mb ul li a {
          color: #333333;
          font-size: 16px; }
          .set-logout .logout-mb ul li a:hover {
            text-decoration: none;
            color: #E66B4B; }
          .set-logout .logout-mb ul li a .icon_ribbon_alt {
            font-size: 16px; }
          .set-logout .logout-mb ul li a i {
            margin-right: 10px;
            color: #333333;
            font-size: 18px;
            background-color: #e4e6eb;
            padding: 10px;
            border-radius: 100%; }
    .set-logout .logout-mb .btn3 {
      text-align: center; }
      .set-logout .logout-mb .btn3 .btn-chat {
        transition: all .2s linear;
        background: #E66B4B;
        padding: 10px 42px; }
        .set-logout .logout-mb .btn3 .btn-chat .chat {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff; }

  .box-starrating .content a {
    white-space: normal; }

  .xemtatca a {
    bottom: 18px; }

  .item-add-gallary {
    height: 90px;
    padding-top: 25px; } }
/* ======= For Tablet doc ========*/
@media only screen and (min-width: 768px) and (max-width: 950px) {
  body {
    padding-top: 70px; }

  .banner2, .banner {
    margin-top: 15px;
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%;
    padding-top: 40%; }
    .banner2 img, .banner img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
    .banner2 img, .banner img {
      border-radius: 6px 6px 0 0; }

  .header-top .search-box i {
    position: absolute;
    top: 35%;
    left: 2%; }

  .menu-mb {
    display: block; }

  .noti {
    display: none !important; }

  .header-top .login .account {
    top: -10px; }

  .icon-search-mb {
    display: block; }

  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: width 2s;
    z-index: 1;
    top: 0;
    left: -1000px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
    .sidenav a {
      margin-bottom: 20px;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #333333;
      display: block;
      transition: 0.3s; }
    .sidenav .close-menu {
      left: 0;
      position: absolute;
      top: 0;
      border: 0;
      background: none;
      color: #333333;
      font-size: 30px; }

  .show-menu {
    left: 0 !important; }

  .header-top .search-box {
    display: none;
    transition: width 2s;
    background: white;
    position: fixed;
    top: 60px;
    padding: 10px 20px;
    width: 100%;
    margin: 0;
    padding-left: 35px; }
    .header-top .search-box i.icon_close {
      right: 20px;
      font-size: 25px;
      top: 22px; }
    .header-top .search-box input {
      border-radius: 0;
      border: none;
      background-color: white;
      padding: 5px 10px;
      width: 100%; }
    .header-top .search-box .close-search {
      display: block;
      right: 0;
      position: absolute;
      top: 0;
      border: 0;
      background: none;
      color: #333333;
      font-size: 30px; }
  .header-top .show-search-mb {
    top: 70px !important;
    left: 0;
    display: block;
    transition: 0.5s;
    box-shadow: 0px 4px 4px #0000001a; }

  .header-top {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0;
    top: 0; }
    .header-top .logo {
      position: fixed;
      top: 7px;
      left: 50px; }
      .header-top .logo a img {
        height: 40px; }

  .account p {
    display: none; }

  .btn-menu-mb {
    position: fixed;
    left: 15px;
    top: 20px; }

  .icon-search-mb {
    position: fixed;
    right: 110px;
    top: 14px;
    height: 35px;
    width: 35px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px; }
    .icon-search-mb i {
      font-size: 13px; }

  .left-home {
    display: none; }

  .set-seacrh-ls .center-home, .set-seacrh-ls .center-document, .set-seacrh-ls .edit-tk {
    flex: inherit;
    max-width: 100%; }
  .set-seacrh-ls .right-home {
    flex: inherit;
    max-width: 100%; }

  .set-home .center-home {
    flex: inherit;
    max-width: 66.666667%; }

  .right-home .list-right ul {
    padding-left: 0; }

  .modal-danhgia .modal-title {
    font-size: 20px !important; }
  .modal-danhgia .modal-dialog .modal-content {
    height: auto;
    width: 100%; }
    .modal-danhgia .modal-dialog .modal-content .modal-header .close {
      margin-right: 0; }
    .modal-danhgia .modal-dialog .modal-content .xemthem-danhgia {
      bottom: 4px;
      left: -137px; }

  .contact .detail-contact {
    margin-left: 135px; }
    .contact .detail-contact .name {
      font-size: 20px; }
  .contact .ava {
    bottom: 42px;
    margin-left: 10px; }
    .contact .ava img {
      width: 112px;
      height: 112px; }

  .header-top .col-xs-12.col-md-8 {
    width: 360px;
    -ms-flex: 0 0 360px 0;
    flex: 0 0 360px 0;
    max-width: 360px;
    margin: auto; }

  .header-top .login .account {
    margin-left: 15px; }

  .box-starrating .about .col-md-4 {
    padding: 0 5px; }
  .box-starrating .about .chiduong {
    margin-bottom: 10px;
    position: unset;
    margin-top: -20px; }

  footer .bg-footer .footer-left {
    padding-left: 0; }
  footer .bg-footer .footer-right {
    padding-right: 0; }

  .box-starrating {
    padding: 18px; }
    .box-starrating .text-rating {
      margin-bottom: 5px; }
    .box-starrating .number-rating2, .box-starrating .number-rating {
      font-size: 18px;
      border: 0;
      margin: 0;
      margin-top: -10px;
      padding: 4px; }
    .box-starrating .number-rating {
      margin-top: -2px; }
    .box-starrating .list-star .bg-star a img {
      padding: 4px; }
    .box-starrating .content a {
      white-space: normal; }

  .xemtatca a {
    bottom: 15px; }

  .maps_google {
    overflow: hidden; }

  #myModal2 .noi-dung-modal {
    margin: 3px 0; }
    #myModal2 .noi-dung-modal .row {
      display: block; }
      #myModal2 .noi-dung-modal .row .col-md-8, #myModal2 .noi-dung-modal .row .col-md-4 {
        max-width: 100%; }
    #myModal2 .noi-dung-modal .item-box {
      margin-top: 10px;
      height: 370px;
      overflow: scroll; }

  .blogs .min-height-blg .blog-image {
    margin-bottom: 0;
    padding-top: 55%; }
  .blogs .min-height-blg .overlap-title {
    position: unset;
    margin-top: 0;
    width: 100%; }
  .blogs .min-height-blg .col-md-8, .blogs .min-height-blg .col-md-4 {
    max-width: 100%;
    flex: inherit; }

  .padding-section3 {
    margin-bottom: 0 !important; }
    .padding-section3 .danh-muc-tin {
      transform: translate(0%, -10%); }
      .padding-section3 .danh-muc-tin h1 a {
        font-size: 36px; }
    .padding-section3 figure {
      padding-top: 85%; }

  .noi-dung-tt {
    padding: 0; }
    .noi-dung-tt h1 {
      margin: 20px 0;
      padding: 0; }
    .noi-dung-tt p {
      padding: 0; }
    .noi-dung-tt .tags-tt {
      padding: 0; }
    .noi-dung-tt .binh-luan-tt {
      padding: 0; }

  .noi-dung-tt .binh-luan-tt textarea {
    width: 715px; }

  .nangcap-tk .giai-thuong p {
    margin-left: 30px; }

  .nangcap-tk .search-ls {
    top: 8px; }

  .TT-ca-nhan .form-group, .edit-TTtaikhoan .form-group {
    width: 50%; }
    .TT-ca-nhan .form-group textarea, .edit-TTtaikhoan .form-group textarea {
      height: 40px; }

  .hinh-anh-hd .item-add-gallary {
    height: 95px;
    padding-top: 28px; }
    .hinh-anh-hd .item-add-gallary button {
      padding: 0 20px; }
      .hinh-anh-hd .item-add-gallary button img {
        width: 30px; }

  .set-logout .logut-pc {
    display: none; }
  .set-logout .logout-mb {
    display: block;
    height: 310px; }
    .set-logout .logout-mb .btn-nangcap {
      padding: 8px 28px; }
      .set-logout .logout-mb .btn-nangcap img {
        width: 20px !important;
        height: 20px !important; }
    .set-logout .logout-mb ul {
      margin-top: 15px;
      overflow-y: scroll;
      height: 200px; }
      .set-logout .logout-mb ul li {
        list-style: none;
        margin-bottom: 30px;
        margin-top: 20px; }
        .set-logout .logout-mb ul li a {
          color: #333333;
          font-size: 16px; }
          .set-logout .logout-mb ul li a:hover {
            text-decoration: none;
            color: #E66B4B; }
          .set-logout .logout-mb ul li a .icon_ribbon_alt {
            font-size: 16px; }
          .set-logout .logout-mb ul li a i {
            margin-right: 10px;
            color: #333333;
            font-size: 18px;
            background-color: #e4e6eb;
            padding: 10px;
            border-radius: 100%; }
    .set-logout .logout-mb .btn3 {
      text-align: center; }
      .set-logout .logout-mb .btn3 .btn-chat {
        transition: all .2s linear;
        background: #E66B4B;
        padding: 10px 42px; }
        .set-logout .logout-mb .btn3 .btn-chat .chat {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff; }

  .nangcap-tk .list-lk-ls .title-post {
    padding-right: 0; }
    .nangcap-tk .list-lk-ls .title-post .tieu-de {
      white-space: normal; }

  .TT-tai-khoan {
    margin-right: 15px;
    margin-top: 15px; } }
/*======== For Mobile============ */
@media only screen and (max-width: 767px) {
  body {
    padding-top: 70px; }

  .left-home {
    display: none; }

  .container {
    max-width: 100%; }

  .anh-bai-viet .two-img {
    margin-bottom: 5px; }

  .item-box .mo-ta {
    margin-top: 2px;
    padding-left: 20px;
    padding-right: 20px; }
  .item-box .tuongtac {
    padding: 10px 0 10px 20px; }
  .item-box .traloi-BL, .item-box .ykien {
    display: flex; }

  .banner {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%; }
    .banner img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

  .banner2 {
    padding-top: 10px;
    margin-top: 15px; }
    .banner2 img {
      width: 100%;
      border-radius: 8px 8px 0 0; }

  .bg-full {
    width: 100%;
    margin: 0; }
    .bg-full .contact .ava {
      margin: 0; }
    .bg-full .contact .detail-contact {
      padding-top: 20px;
      padding-left: 0;
      position: absolute;
      padding-right: 0;
      top: -25px; }
      .bg-full .contact .detail-contact .postion-name {
        text-align: left !important;
        padding-left: 95px; }
      .bg-full .contact .detail-contact .name {
        font-size: 22px;
        margin-bottom: 10px;
        text-align: left !important;
        padding-left: 95px; }
      .bg-full .contact .detail-contact .address {
        margin: 5px 0;
        display: flex; }
    .bg-full .contact .ava img {
      width: 75px;
      height: 75px; }
    .bg-full .contact .contact-left {
      min-height: 200px; }
    .bg-full .contact .contact-right {
      padding: 5px 0 0 0;
      min-height: 140px !important; }
      .bg-full .contact .contact-right .btn1 {
        margin-top: 0; }
        .bg-full .contact .contact-right .btn1 .btn-phone {
          display: inline-block;
          text-align: center;
          width: 100%; }
      .bg-full .contact .contact-right .btn2 {
        margin-top: 0; }
        .bg-full .contact .contact-right .btn2 .btn-chat {
          display: inline-block;
          text-align: center;
          width: 100%; }

  .menu-mb {
    display: block; }

  .icon-search-mb {
    display: block; }

  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: width 2s;
    z-index: 1;
    top: 0;
    left: -1000px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; }
    .sidenav a {
      margin-bottom: 20px;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 16px;
      color: #333333;
      display: block;
      transition: 0.3s; }
    .sidenav .close-menu {
      left: 0;
      position: absolute;
      top: 0;
      border: 0;
      background: none;
      color: #333333;
      font-size: 30px; }

  .show-menu {
    left: 0 !important; }

  .header-top .search-box {
    display: none;
    transition: width 2s;
    background: white;
    position: fixed;
    top: 60px;
    padding: 10px 20px;
    width: 100%;
    margin: 0;
    padding-left: 35px; }
    .header-top .search-box i.icon_close {
      right: 20px;
      font-size: 25px;
      top: 22px; }
    .header-top .search-box input {
      border-radius: 0;
      border: none;
      background-color: white;
      padding: 5px 10px;
      width: 100%; }
    .header-top .search-box .close-search {
      display: block;
      right: 0;
      position: absolute;
      top: 0;
      border: 0;
      background: none;
      color: #333333;
      font-size: 30px; }
  .header-top .show-search-mb {
    top: 70px !important;
    display: block;
    transition: 0.5s;
    box-shadow: 0px 4px 4px #00000054; }

  .header-top {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0;
    top: 0; }
    .header-top .logo {
      position: fixed;
      top: 7px;
      left: 50px; }
      .header-top .logo a img {
        height: 40px; }

  .account p {
    display: none; }

  .btn-menu-mb {
    position: fixed;
    left: 15px;
    top: 20px; }

  .icon-search-mb {
    position: fixed;
    right: 110px;
    top: 14px;
    height: 35px;
    width: 35px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px; }
    .icon-search-mb i {
      font-size: 13px; }

  .contact .col-md-8, .contact .col-md-4 {
    padding: 0; }
  .contact .banner2 {
    background-color: white;
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 60%;
    padding-top: 70%; }
    .contact .banner2 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .contact .white-color {
    background-color: white; }
  .contact .contact-left {
    position: relative;
    border-radius: 0;
    border: 0;
    height: 100%; }
  .contact .contact-right {
    padding: 15px;
    padding-top: 15px;
    border-radius: 0;
    border: 0; }
    .contact .contact-right .btn1, .contact .contact-right .btn2 {
      margin-top: 0;
      margin-bottom: 15px; }
      .contact .contact-right .btn1 .btn-phone, .contact .contact-right .btn1 .btn-chat, .contact .contact-right .btn2 .btn-phone, .contact .contact-right .btn2 .btn-chat {
        display: inline-block;
        text-align: center;
        width: 100%; }
  .contact .ava {
    position: unset;
    text-align: center;
    margin-top: -70px;
    margin-bottom: 0; }
    .contact .ava img {
      width: 130px;
      height: 130px;
      border: 2px solid white; }
  .contact .detail-contact {
    margin-left: 15px;
    padding-top: 15px; }
    .contact .detail-contact .address {
      display: flex; }
    .contact .detail-contact .name {
      font-size: 22px;
      text-align: center;
      margin-bottom: 10px; }
    .contact .detail-contact .postion-name {
      text-align: center; }

  .center-home .list-news ul img {
    position: unset;
    right: 15px;
    width: 100%;
    height: auto; }

  footer .bg-footer .footer-right, footer .bg-footer .footer-left {
    padding: 0; }
    footer .bg-footer .footer-right img, footer .bg-footer .footer-left img {
      width: 100%; }

  .bg-full .contact {
    display: inherit;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    padding-top: 30px; }

  .login {
    position: fixed;
    right: 25px;
    top: 15px; }

  .banner {
    margin-top: 0; }

  .header-top .login .account {
    margin-left: 35px; }

  .noti {
    display: none !important; }

  .header-top .search-box i {
    top: 25px;
    left: 15px; }

  #myModal .modal-content {
    width: 100%;
    height: auto; }
    #myModal .modal-content .modal-header .close {
      margin-right: 0;
      padding-left: 0; }
    #myModal .modal-content .tieude-modal {
      display: unset; }
      #myModal .modal-content .tieude-modal .modal-title {
        font-size: 24px !important; }
        #myModal .modal-content .tieude-modal .modal-title span {
          font-size: 14px; }
      #myModal .modal-content .tieude-modal .btn-vietdanhgia {
        width: 100%;
        margin-left: 0;
        margin-top: 10px; }
    #myModal .modal-content .modal-body .scrollbar-danhgia {
      height: 592px; }
    #myModal .modal-content .modal-body .xemthem-danhgia {
      transform: translate(36%, 0);
      position: unset; }

  #myModal2 {
    padding: 5px; }
    #myModal2 .noi-dung-modal .item-box {
      margin-top: 5px !important;
      height: 370px;
      overflow: scroll; }
      #myModal2 .noi-dung-modal .item-box .ykien {
        padding: 15px; }
    #myModal2 .noi-dung-modal .close {
      left: -5px;
      top: -25px; }

  #xemhinh {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center !important; }
    #xemhinh .noi-dung-modal {
      width: 100%; }
      #xemhinh .noi-dung-modal .lSSlideOuter .lSGallery li {
        height: auto; }
      #xemhinh .noi-dung-modal .close {
        left: 5px;
        top: -20px; }

  /* Profile on mobile */
  .mb-profile {
    display: block; }
    .mb-profile .tab-profile {
      width: 100%; }
      .mb-profile .tab-profile .nav-tabs {
        overflow-x: scroll;
        padding: 10px 0;
        height: auto;
        white-space: nowrap;
        border-bottom: 1px solid #dee2e6;
        width: 100%;
        flex-wrap: unset; }
        .mb-profile .tab-profile .nav-tabs li a {
          color: #777777;
          font-size: 15px; }
        .mb-profile .tab-profile .nav-tabs li.active {
          color: #E66B4B;
          border-bottom: 1px solid #E66B4B; }
          .mb-profile .tab-profile .nav-tabs li.active a {
            color: #E66B4B;
            border-radius: 0;
            border: 0; }
      .mb-profile .tab-profile .tab-content .box-starrating .xemtatca a {
        top: 30px;
        left: 0;
        right: 0; }
      .mb-profile .tab-profile .box-starrating {
        text-align: center; }
        .mb-profile .tab-profile .box-starrating .btn3 {
          width: 100%;
          margin: 10px 0; }
          .mb-profile .tab-profile .box-starrating .btn3 .view, .mb-profile .tab-profile .box-starrating .btn3 .review {
            display: inline-block;
            text-align: center;
            width: 100%; }

  .noi-dung-modal ul.content-slider {
    height: 400px !important; }

  .pc-profile {
    display: none; }

  /* Sort mobile */
  .list-search {
    display: none; }

  .sort-mb {
    display: block; }
    .sort-mb .content-sort {
      height: 100%;
      width: 70%;
      position: fixed;
      transition: width 2s;
      z-index: 1;
      top: 70px;
      left: -1000px;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px; }
      .sort-mb .content-sort a {
        margin-bottom: 20px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        color: #333333;
        display: block;
        transition: 0.3s; }
      .sort-mb .content-sort .close-sort {
        left: 0;
        position: absolute;
        top: 0;
        border: 0;
        background: none;
        color: #333333;
        font-size: 30px; }
    .sort-mb .show-sort {
      left: 0 !important; }
      .sort-mb .show-sort .detail-sort {
        display: flex; }
        .sort-mb .show-sort .detail-sort i {
          margin-top: 10px; }
      .sort-mb .show-sort .submit-sort {
        background-color: #E66B4B;
        font-weight: bold;
        color: #ffffff;
        font-size: 16px;
        padding: 10px 28px;
        border-radius: 0;
        /* width: 150px; */
        min-width: 150px;
        border: 0; }

  .list-right p {
    padding-left: 5px; }
  .list-right ul {
    padding-left: 10px; }

  .danh-muc-tin {
    padding: 0px; }

  .danh-muc .danh-muc-tin {
    padding: 15px 0; }

  .blogs .overlap-title {
    width: 100%;
    position: unset;
    margin-top: 0; }

  .chi-tiet-tt .col-md-4, .chi-tiet-tt .col-md-8 {
    padding: 0; }

  .padding-section3 {
    margin: 20px 0; }
    .padding-section3 figure {
      transform: unset;
      margin-top: 10px; }
    .padding-section3 .danh-muc-tin {
      transform: unset; }
      .padding-section3 .danh-muc-tin h1 {
        margin-top: -15px; }
        .padding-section3 .danh-muc-tin h1 a {
          font-size: 28px; }

  .noi-dung-tt {
    padding: 0 15px; }
    .noi-dung-tt h1 {
      padding: 0 15px;
      margin: 15px 0; }
    .noi-dung-tt p {
      padding: 0; }
    .noi-dung-tt .tags-tt {
      padding: 0; }
    .noi-dung-tt .binh-luan-tt {
      padding: 0; }

  .noi-dung-tt h1 {
    padding: 0;
    font-size: 28px; }
  .noi-dung-tt .binh-luan-tt textarea {
    width: 100%; }
  .noi-dung-tt .binh-luan-tt .ds-binh-luan {
    margin-top: 20px; }

  .nd-banner-mb {
    display: block;
    position: relative;
    background-image: url(../images/banner-tt-mb.png);
    background-repeat: no-repeat; }
    .nd-banner-mb .noi-dung-banner {
      padding: 0 15px;
      transform: translateY(50%); }
      .nd-banner-mb .noi-dung-banner h1 {
        font-size: 30px; }

  .header-top .login .account:hover .acc-user {
    position: fixed;
    width: 100%;
    top: 72px; }

  .TT-ca-nhan .form-group, .edit-TTtaikhoan .form-group {
    width: 100%; }

  .nangcap-tk .upload-hd .file-input .file-name {
    width: auto; }
  .nangcap-tk .giai-thuong p {
    margin-left: 0;
    padding: 0 15px; }
  .nangcap-tk .giai-thuong .col-md-1, .nangcap-tk .giai-thuong .col-md-11 {
    width: auto; }
  .nangcap-tk .giai-thuong .icon-close {
    right: 5px; }
  .nangcap-tk .search-ls {
    position: unset;
    padding: 0 10px;
    margin-top: -10px;
    margin-bottom: 15px; }
    .nangcap-tk .search-ls input {
      width: 100%; }
    .nangcap-tk .search-ls img {
      position: absolute;
      top: 60px;
      left: 20px; }
  .nangcap-tk .hinh-anh-hd .col-md-2 {
    padding-right: 0;
    width: auto; }
    .nangcap-tk .hinh-anh-hd .col-md-2 .img-box {
      margin-bottom: 15px; }
    .nangcap-tk .hinh-anh-hd .col-md-2 .item-add-gallary {
      height: 95px;
      padding-top: 30px; }
      .nangcap-tk .hinh-anh-hd .col-md-2 .item-add-gallary button {
        padding: 0 30px; }
        .nangcap-tk .hinh-anh-hd .col-md-2 .item-add-gallary button img {
          width: 30px; }
  .nangcap-tk .none-padding {
    padding: 0; }
  .nangcap-tk .btn-gui-nang-cap {
    width: 100%; }

  .header-top .login .account .acc-user .logout ul {
    margin-top: 15px; }
  .header-top .login .account .acc-user .content-acc-user img {
    width: 55px;
    height: 55px; }

  .set-logout .logut-pc {
    display: none; }
  .set-logout .logout-mb {
    display: block;
    height: 310px; }
    .set-logout .logout-mb .btn-nangcap {
      padding: 8px 28px; }
      .set-logout .logout-mb .btn-nangcap img {
        width: 20px !important;
        height: 20px !important; }
    .set-logout .logout-mb ul {
      margin-top: 15px;
      overflow-y: scroll;
      height: 200px; }
      .set-logout .logout-mb ul li {
        list-style: none;
        margin-bottom: 30px;
        margin-top: 20px; }
        .set-logout .logout-mb ul li a {
          color: #333333;
          font-size: 16px; }
          .set-logout .logout-mb ul li a:hover {
            text-decoration: none;
            color: #E66B4B; }
          .set-logout .logout-mb ul li a .icon_ribbon_alt {
            font-size: 16px; }
          .set-logout .logout-mb ul li a i {
            margin-right: 10px;
            color: #333333;
            font-size: 18px;
            background-color: #e4e6eb;
            padding: 10px;
            border-radius: 100%; }
    .set-logout .logout-mb .btn3 {
      text-align: center; }
      .set-logout .logout-mb .btn3 .btn-chat {
        transition: all .2s linear;
        background: #E66B4B;
        padding: 10px 42px; }
        .set-logout .logout-mb .btn3 .btn-chat .chat {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff; }

  .head-down .search-vb {
    position: unset; }
    .head-down .search-vb input {
      width: 100%; }
    .head-down .search-vb img {
      top: 46px; }

  .list-down-vb td {
    white-space: normal; }
    .list-down-vb td img {
      width: 20px;
      height: 20px; }
    .list-down-vb td a {
      -webkit-line-clamp: 2; }

  .main-login {
    padding-top: 0;
    background-color: white; }
    .main-login .logo-login {
      position: unset; }
      .main-login .logo-login img {
        width: 240px;
        height: 45px; }
    .main-login .login-page {
      padding: 0 20px;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
      border: 0; }
      .main-login .login-page .tab-login {
        padding-top: 30px; }
        .main-login .login-page .tab-login .nav-tabs li {
          padding: 0 15px; }
          .main-login .login-page .tab-login .nav-tabs li a {
            white-space: nowrap; } }

/*# sourceMappingURL=dung.css.map */
