@font-face {
	font-family: 'SF Pro Display Black';
	src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Bold';
	src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display BlackItalic';
	src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display BoldItalic';
	src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Heavy';
	src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display HeavyItalic';
	src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display LightItalic';
	src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Medium';
	src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Light';
	src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display MediumItalic';
	src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Regular';
	src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display RegularItalic';
	src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display SemiboldItalic';
	src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Semibold';
	src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Thin';
	src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display ThinItalic';
	src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display UltralightItalic';
	src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display Ultralight';
	src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

$color-text:#333333;
$color-breadcrumb:#777777;
$bg-gray:#E9E9EB;
$brand:#E66B4B;
$font-primary: "SF Pro Display Regular";
@mixin hover-a {
	text-decoration: none;
}

@mixin btn_hover1 {
	border: 1px solid $brand;
	background-color: $brand;
	color: white;
}

@mixin btn_hover2 {
	background-color: #F7C24A;
	color: white;
}

body {
	background: #F9F9F9;
	font-family: $font-primary;
}

//STYLE HEADER//
.header-top {
	padding: 10px 30px 10px 30px;
	background-color: #ffffff;
	min-height: 70px;
	border-bottom: 1px solid #EDEFF1;
	.search-box {
		margin: 0 100px;
		width: 80%;
		position: relative;
		input {
			width: 100%;
			border: 0;
			background: #F3F3F3;
			border-radius: 130px;
			padding: 0 10px;
			font-size: 14px;
			height: 50px;
			outline: none;
			padding-left: 70px;
			color: $color-breadcrumb;
		}
		i {
			position: absolute;
			transform: rotateY( 180deg);
			top: 30%;
			left: 3%;
			font-size: 17px;
			color: #606060;
		}
	}
	.box-dropdown {
		display: none;
		position: absolute;
		border-radius: 6px;
		border: 1px solid #f4f4f4;
		background-color: #ffffff;
		height: auto;
		right: 0;
	}
	.login {
		display: inline-flex;
		.noti {
			position: relative;
			display: inline-block;
			margin-top: 5px;
			&:hover {
				.dropdown-content {
					display: block;
				}
			}
			.dropdown-content {
				@extend .box-dropdown;
				width: 300px;
				top: 25px;
				z-index: 1;
				.box-noti {
					padding: 30px 30px 0 30px;
					span {
						color: $color-breadcrumb;
						font-size: 16px;
						font-weight: bold;
						padding-bottom: 10px;
					}
					ul {
						padding: 0;
						overflow-y: scroll;
						height: 350px;
						li {
							border-top: 1px solid #ededed;
							list-style: none;
							margin-top: 10px;
							.list-noti {
								margin: 25px 0 17px 0;
								text-decoration: none;
								display: flex;
								img {
									width: 42px;
									height: 42px;
								}
								.content-noti {
									margin-left: 10px;
									margin-top: -10px;
									.title-noti {
										overflow: hidden;
										text-overflow: ellipsis;
										display: -webkit-box;
										-webkit-box-orient: vertical;
										-webkit-line-clamp: 2;
										line-height: 23px;
										margin-bottom: 5px;
										color: $color-text;
										font-size: 14px;
									}
									.time-noti {
										margin-bottom: 0;
										color: $color-breadcrumb;
										font-size: 12px;
									}
								}
							}
						}
					}
				}
				.viewmore-noti {
					overflow: hidden;
					width: 300px;
					background-color: #f4f4f4;
					height: 40px;
					padding: 10px 0;
					text-align: center;
					a {
						color: $color-text;
						font-size: 14px;
						&:hover {
							text-decoration: none;
							color: $brand;
						}
					}
				}
			}
			.glyphicon-bell {
				position: relative;
				font-size: 30px;
				color: $color-breadcrumb;
			}
			.number-noti {
				position: absolute;
				left: 10px;
				top: -2px;
				font-size: 11px;
				color: #ffffff;
				background: $brand;
				padding: 2px 4px;
				border-radius: 50%;
			}
		}
		.account {
			position: relative;
			margin-left: 65px;
			display: inline-flex;
			&:hover {
				.acc-user {
					display: block;
				}
			}
			img {
				width: 37px;
				height: 37px;
				border-radius: 100%;
			}
			p {
				font-size: 16px;
				color: $color-text;
				margin: 10px;
				white-space: nowrap;
			}
			.dropbtn1 {
				margin-top: 10px;
				&:hover {
					text-decoration: none;
					color: red;
				}
				i {
					font-size: 20px;
					color: $color-breadcrumb;
				}
			}
			.acc-user {
				@extend .box-dropdown;
				z-index: 999;
				top: 38px;
				width: 350px;
				.content-acc-user {
					display: flex;
					margin: 30px 30px 0 30px;
					img {
						width: 80px;
						height: 80px;
						border-radius: 100%;
					}
					.detail-acc-user {
						margin-left: 10px;
						.name-acc {
							color: $color-text;
							margin-bottom: 0;
							margin-left: 0;
							font-size: 18px;
							font-weight: 700;
						}
						.g_mail {
							color: $color-breadcrumb;
							font-size: 14px;
						}
					}
				}
				.logout {
					margin-bottom: 30px;
					ul {
						margin-top: 30px;
						overflow-y: scroll;
						height: 170px;
						li {
							list-style: none;
							margin-bottom: 30px;
							margin-top: 20px;
							a {
								color: $color-text;
								font-size: 16px;
								&:hover {
									text-decoration: none;
									color: $brand;
								}
								i {
									margin-right: 10px;
									color: #333333;
									font-size: 18px;
									background-color: #e4e6eb;
									padding: 10px;
									border-radius: 100%;
								}
							}
						}
					}
					.btn3 {
						text-align: center;
						.btn-chat {
							transition: all .2s linear;
							background: #E66B4B;
							padding: 10px 42px;
							&:hover {
								background-color: #F7C24A;
								text-decoration: none;
							}
							i {
								color: white;
								font-size: 18px;
							}
							.chat {
								font-weight: bold;
								font-size: 16px;
								line-height: 19px;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

.banner {
	overflow: hidden;
	position: relative;
}

.banner2 {
	overflow: hidden;
	position: relative;
	margin-top: 30px;
}

.box-contact {
	border-bottom: 1px solid $bg-gray;
	background: white;
	display: inline-block;
	width: 100%;
	min-height: 167px;
}

.contact {
	margin-bottom: 10px;
	.col-md-8 {
		padding-right: 0;
	}
	.col-md-4 {
		padding-left: 0;
	}
	.contact-left {
		@extend .box-contact;
		border-left: 1px solid $bg-gray;
		border-radius: 0 0 0 6px;
	}
	.detail-contact {
		margin-left: 30%;
		padding-top: 20px;
		.postion-name {
			color: $color-breadcrumb;
			font-size: 16px;
			margin-bottom: 0;
		}
		.name {
			margin-bottom: 0;
			font-weight: 600;
			font-size: 32px;
			color: $color-text;
		}
		span {
			line-height: 186.3%;
			color: #313843;
			font-size: 16px;
			margin-left: 18px;
		}
	}
	.ava {
		position: absolute;
		margin-bottom: 26px;
		margin-left: 20px;
		bottom: 0;
		img {
			width: 175px;
			height: 175px;
			border-radius: 50%;
		}
	}
	.contact-right {
		@extend .box-contact;
		border-right: 1px solid $bg-gray;
		border-radius: 0 0 6px 0;
		padding-left: 40%;
		.btn1 {
			margin-bottom: 20px;
			margin-top: 30px;
			.btn-phone {
				background: #FFFFFF;
				border: 1px solid #777777;
				box-sizing: border-box;
				padding: 10px 34px;
				@include hover-a();
				img {
					margin-bottom: 5px;
				}
				.call {
					margin-left: 7px;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: $color-breadcrumb;
				}
			}
		}
		.btn2 {
			margin-top: 25px;
			.btn-chat {
				transition: all .2s linear;
				background: $brand;
				padding: 10px 42px;
				@include hover-a();
				&:hover {
					@include btn_hover2();
				}
				.chat {
					margin-left: 7px;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #ffffff;
				}
			}
		}
	}
}

.bg-full {
	background: white;
	margin-bottom: 10px;
	.contact {
		display: flex;
		.ava {
			margin: 25px 0 15px 0;
			position: unset;
		}
		.contact-left {
			border-radius: 0;
			border: 0;
			display: flex;
		}
		.contact-right {
			@extend.contact-left;
			display: block;
			padding-top: 20px;
		}
		.detail-contact {
			margin-left: 0;
			padding: 30px 30px 0px 40px;
		}
	}
}

.xemthem {
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-decoration-line: underline;
}

.xemchitiet {
	a {
		@extend .xemthem;
		color: $brand;
	}
}

.xemtatca {
	a {
		@extend .xemthem;
		color: #ffffff;
		position: absolute;
		z-index: 999;
		bottom: 30px;
		left: 10px;
	}
}

.box-starrating {
	position: relative;
	overflow: hidden;
	margin: 20px 0;
	padding: 28px 20px 20px 20px;
	background: #FFFFFF;
	border: 1px solid #E9E9EB;
	box-sizing: border-box;
	border-radius: 6px;
	.list-star {
		display: inline-flex;
		.bg-star {
			a {
				& :hover {
					text-decoration: none;
					background-color: $brand;
				}
				img {
					margin-right: 3px;
					background: #E8E8E8;
					border-radius: 1px;
					padding: 9px;
				}
			}
		}
	}
	.number-rating {
		margin-left: 5px;
		margin-top: 3px;
		float: right;
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 146.3%;
		color: $color-breadcrumb;
	}
	.number-rating2 {
		@extend .number-rating;
		background: #FFFFFF;
		border: 2px solid #E8E8E8;
		box-sizing: border-box;
		border-radius: 100%;
		margin: -10px 0 0px 16px;
		padding: 10px;
	}
	.text-rating {
		font-size: 14px;
		line-height: 146.3%;
		color: $color-text;
		margin-top: 10px;
		margin-bottom: 16px;
	}
	.btn3 {
		background-color: white;
		display: inline-block;
		margin: 18px 5px 24px 0;
		a {
			&:hover {
				text-decoration: none;
				@include btn_hover1();
			}
		}
		.review {
			transition: all .2s linear;
			margin-right: 5px;
			border: 1px solid $brand;
			padding: 8px 30px;
			color: $brand;
		}
		.view {
			transition: all .2s linear;
			padding: 8px 30px;
			color: $color-breadcrumb;
			border: 1px solid $color-breadcrumb;
			a {
				&:hover {
					text-decoration: none;
					@include btn_hover1();
				}
			}
		}
	}
	.about {
		p {
			font-size: 13px;
			line-height: 186.3%;
			text-align: justify;
			color: #333333;
		}
		h5 {
			margin-bottom: 25px;
			font-weight: 600;
			font-size: 18px;
			position: relative;
			text-align: justify;
			color: $color-text;
		}
	}
	.view-catelogy {
		text-align: center;
		.btn-view {
			font-size: 13px;
			color: $brand;
			@include hover-a();
			i {
				color: $brand;
			}
		}
	}
	.thumnails {
		position: relative;
		padding-top: 103%;
		display: block;
		overflow: hidden;
		margin-bottom: 10px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	.box-wrapper {
		text-align: center;
		a {
			font-size: 13px;
			line-height: 176.3%;
			text-align: center;
			color: #353F60;
			@include hover-a();
		}
	}
	.content {
		text-align: center;
		p {
			text-align: center;
			font-size: 13px;
			line-height: 23px;
			color: #676767;
			margin-bottom: 0;
		}
		a {
			white-space: nowrap;
			span {
				font-weight: 500;
				font-size: 13px;
				line-height: 23px;
				color: #313843;
			}
			@include hover-a();
		}
	}
	.chiduong {
		position: absolute;
		display: flex;
		left: 69%;
		bottom: 84%;
		a {
			font-size: 14px;
			color: $brand;
			margin-left: 2px;
			@include hover-a();
		}
	}
}

@media(max-width:991px) {
	.header-top {
		.search-box {
			width: 100%;
			margin: 10px 0;
		}
	}
	.banner {
		.contact-right {
			margin-left: 20px;
		}
		.contact {
			.contact-left {
				display: inline-block;
			}
			.detail-contact {
				margin-left: 20px;
			}
		}
	}
	.box-starrating {
		.thum-img {
			margin: 0 5px 5px 0;
		}
		.inner-box {
			display: inline-flex;
			margin: 0 10px 0px 0;
			.content {
				margin-left: 10px;
			}
		}
		.chiduong {
			bottom: 13%;
			left: 70%;
		}
	}
}

// Van ban phap luat//
.text-search {
	color: $color-text;
	font: 14px;
	margin-top: 28px;
}

.list-search {
	padding: 15px 0 15px 25px;
	background: #FFFFFF;
	border: 1px solid #E9E9EB;
	box-sizing: border-box;
	border-radius: 6px;
	span {
		font-weight: 500;
		font-size: 14px;
		line-height: 143.5%;
		color: #676767;
		margin-left: 5px;
	}
	.text-search {
		display: contents;
		margin-right: 10px;
		font-size: 13px;
		color: #313843;
	}
	.content-srcoll {
		.filter {
			.col-md-2 {
				padding-left: 0;
				padding-right: 0;
				margin: 0 10px;
				white-space: nowrap;
			}
		}
	}
}

$color-title-law:#A64D36;
$color-detail-news:#676767;
.bg-white {
	margin-top: 20px;
	padding: 15px 20px 0 20px;
	background: #FFFFFF;
	border: 1px solid $bg-gray;
	box-sizing: border-box;
	border-radius: 6px;
	.list {
		margin-top: 25px;
		img {
			width: 55px;
			height: 55px;
			border-radius: 100%;
			float: left;
			margin-bottom: 25px;
		}
	}
	.detail-address {
		line-height: 13px;
		display: inline-block;
		margin-left: 13px;
		i {
			font-size: 13px;
			color: $brand;
		}
	}
	.number-rating {
		margin-left: 7px;
		font-size: 19px;
		color: #E66B4B;
	}
	.cmt {
		color: $color-breadcrumb;
		font-size: 13px;
		text-decoration: underline;
		margin-left: 10px;
	}
	.name-law {
		font-weight: 600;
		font-size: 14px;
		color: #333333;
	}
	.address-phone {
		font-size: 14px;
		color: $color-detail-news;
	}
	.item-news {
		margin: 20px 0;
		padding-bottom: 10px;
		;
		border-bottom: 1px solid #DBDBDB;
		.title-law {
			margin-bottom: 5px;
			font-weight: 500;
			font-size: 12px;
			color: $color-title-law;
		}
		.title-news {
			margin-bottom: 0;
			font-weight: 600;
			font-size: 16px;
			color: #313843;
			&:hover {
				text-decoration: none;
				color: $color-title-law;
			}
		}
		.detail-news {
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 20px;
			-webkit-line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			margin-top: 10px;
			font-size: 14px;
			color: $color-detail-news;
			&:hover{text-decoration: none;}
		}
		.author {
			img {
				margin-top: 7px;
				margin-right: 5px;
				width: 25px;
				height: 25px;
				border-radius: 100%;
				float: left;
			}
			.star-rating {
				margin-bottom: 0;
				i {
					font-size: 8px;
					color: #F7C24A;
				}
			}
			.nane-author {
				font-size: 12px;
				color: $color-detail-news;
			}
			.detail-authour {
				display: inline-block;
			}
		}
	}
	.title-large {
		font-weight: 600;
		font-size: 32px;
		line-height: 143.5%;
		color: #313843;
	}
	.title-min {
		letter-spacing: 0.04em;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 18px;
		color: #353F60;
		line-height: 311%;
		text-transform: uppercase;
	}
	.title-min2 {
		letter-spacing: 0.04em;
		font-size: 16px;
		line-height: 201%;
		color: #353F60;
	}
	.title-min3 {
		letter-spacing: 0.04em;
		font-size: 16px;
		font-weight: bold;
		line-height: 241%;
		color: #F8B64C;
	}
	.downloadfile{
		display: flex;
		margin: 30px 0;
		img{
			width: 32px;
			height: 32px;
			margin: -10px 5px 0 0;
		}
	.title-min4{
		a{
		letter-spacing: 0.04em;
		font-size: 14px;
		font-weight: 600;;
		color: $color-text;
		&:hover{
			color: $brand;
			text-decoration: none;
		}
		}
	}
}
}

// Center-document//
.center-document {
	.back {
		
		margin: 40px 20px 0 0;
		a{	
			img{
				margin-bottom: 10px;
			}	
		span {
			margin-left: 5px;
			margin-top: 4px;
			color: $brand;
			font-weight: 600;
			font-size: 14px;
		}
		&:hover{
			text-decoration: none;
		}
	}
}
	.tab-vbpl {
		.nav-tabs {
			border-color: #E9E9EB;
			li {
				&.active {
					color: $brand;
					border-bottom: 1px solid $brand;
					a {
						color: $brand;
						border-radius: 0;
						border: 0;
					}
				}
				a {
					color: $color-breadcrumb;
				}
			}
		}
	}
}