@font-face {
  font-family: 'SF Pro Display Black';
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BlackItalic';
  src: url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display BoldItalic';
  src: url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display HeavyItalic';
  src: url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display LightItalic';
  src: url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Light';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display MediumItalic';
  src: url("../fonts/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display RegularItalic';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display SemiboldItalic';
  src: url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display ThinItalic';
  src: url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display UltralightItalic';
  src: url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
body {
  background: #F9F9F9;
  font-family: "SF Pro Display Regular"; }

.header-top {
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
  min-height: 70px;
  border-bottom: 1px solid #EDEFF1; }
  .header-top .search-box {
    margin: 0 100px;
    width: 80%;
    position: relative; }
    .header-top .search-box input {
      width: 100%;
      border: 0;
      background: #F3F3F3;
      border-radius: 130px;
      padding: 0 10px;
      font-size: 14px;
      height: 50px;
      outline: none;
      padding-left: 70px;
      color: #777777; }
    .header-top .search-box i {
      position: absolute;
      transform: rotateY(180deg);
      top: 30%;
      left: 3%;
      font-size: 17px;
      color: #606060; }
  .header-top .box-dropdown, .header-top .login .noti .dropdown-content, .header-top .login .account .acc-user {
    display: none;
    position: absolute;
    border-radius: 6px;
    border: 1px solid #f4f4f4;
    background-color: #ffffff;
    height: auto;
    right: 0; }
  .header-top .login {
    display: inline-flex; }
    .header-top .login .noti {
      position: relative;
      display: inline-block;
      margin-top: 5px; }
      .header-top .login .noti:hover .dropdown-content {
        display: block; }
      .header-top .login .noti .dropdown-content {
        width: 300px;
        top: 25px;
        z-index: 1; }
        .header-top .login .noti .dropdown-content .box-noti {
          padding: 30px 30px 0 30px; }
          .header-top .login .noti .dropdown-content .box-noti span {
            color: #777777;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px; }
          .header-top .login .noti .dropdown-content .box-noti ul {
            padding: 0;
            overflow-y: scroll;
            height: 350px; }
            .header-top .login .noti .dropdown-content .box-noti ul li {
              border-top: 1px solid #ededed;
              list-style: none;
              margin-top: 10px; }
              .header-top .login .noti .dropdown-content .box-noti ul li .list-noti {
                margin: 25px 0 17px 0;
                text-decoration: none;
                display: flex; }
                .header-top .login .noti .dropdown-content .box-noti ul li .list-noti img {
                  width: 42px;
                  height: 42px; }
                .header-top .login .noti .dropdown-content .box-noti ul li .list-noti .content-noti {
                  margin-left: 10px;
                  margin-top: -10px; }
                  .header-top .login .noti .dropdown-content .box-noti ul li .list-noti .content-noti .title-noti {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-height: 23px;
                    margin-bottom: 5px;
                    color: #333333;
                    font-size: 14px; }
                  .header-top .login .noti .dropdown-content .box-noti ul li .list-noti .content-noti .time-noti {
                    margin-bottom: 0;
                    color: #777777;
                    font-size: 12px; }
        .header-top .login .noti .dropdown-content .viewmore-noti {
          overflow: hidden;
          width: 300px;
          background-color: #f4f4f4;
          height: 40px;
          padding: 10px 0;
          text-align: center; }
          .header-top .login .noti .dropdown-content .viewmore-noti a {
            color: #333333;
            font-size: 14px; }
            .header-top .login .noti .dropdown-content .viewmore-noti a:hover {
              text-decoration: none;
              color: #E66B4B; }
      .header-top .login .noti .glyphicon-bell {
        position: relative;
        font-size: 30px;
        color: #777777; }
      .header-top .login .noti .number-noti {
        position: absolute;
        left: 10px;
        top: -2px;
        font-size: 11px;
        color: #ffffff;
        background: #E66B4B;
        padding: 2px 4px;
        border-radius: 50%; }
    .header-top .login .account {
      position: relative;
      margin-left: 65px;
      display: inline-flex; }
      .header-top .login .account:hover .acc-user {
        display: block; }
      .header-top .login .account img {
        width: 37px;
        height: 37px;
        border-radius: 100%; }
      .header-top .login .account p {
        font-size: 16px;
        color: #333333;
        margin: 10px;
        white-space: nowrap; }
      .header-top .login .account .dropbtn1 {
        margin-top: 10px; }
        .header-top .login .account .dropbtn1:hover {
          text-decoration: none;
          color: red; }
        .header-top .login .account .dropbtn1 i {
          font-size: 20px;
          color: #777777; }
      .header-top .login .account .acc-user {
        z-index: 999;
        top: 38px;
        width: 350px; }
        .header-top .login .account .acc-user .content-acc-user {
          display: flex;
          margin: 30px 30px 0 30px; }
          .header-top .login .account .acc-user .content-acc-user img {
            width: 80px;
            height: 80px;
            border-radius: 100%; }
          .header-top .login .account .acc-user .content-acc-user .detail-acc-user {
            margin-left: 10px; }
            .header-top .login .account .acc-user .content-acc-user .detail-acc-user .name-acc {
              color: #333333;
              margin-bottom: 0;
              margin-left: 0;
              font-size: 18px;
              font-weight: 700; }
            .header-top .login .account .acc-user .content-acc-user .detail-acc-user .g_mail {
              color: #777777;
              font-size: 14px; }
        .header-top .login .account .acc-user .logout {
          margin-bottom: 30px; }
          .header-top .login .account .acc-user .logout ul {
            margin-top: 30px;
            overflow-y: scroll;
            height: 170px; }
            .header-top .login .account .acc-user .logout ul li {
              list-style: none;
              margin-bottom: 30px;
              margin-top: 20px; }
              .header-top .login .account .acc-user .logout ul li a {
                color: #333333;
                font-size: 16px; }
                .header-top .login .account .acc-user .logout ul li a:hover {
                  text-decoration: none;
                  color: #E66B4B; }
                .header-top .login .account .acc-user .logout ul li a i {
                  margin-right: 10px;
                  color: #333333;
                  font-size: 18px;
                  background-color: #e4e6eb;
                  padding: 10px;
                  border-radius: 100%; }
          .header-top .login .account .acc-user .logout .btn3 {
            text-align: center; }
            .header-top .login .account .acc-user .logout .btn3 .btn-chat {
              transition: all .2s linear;
              background: #E66B4B;
              padding: 10px 42px; }
              .header-top .login .account .acc-user .logout .btn3 .btn-chat:hover {
                background-color: #F7C24A;
                text-decoration: none; }
              .header-top .login .account .acc-user .logout .btn3 .btn-chat i {
                color: white;
                font-size: 18px; }
              .header-top .login .account .acc-user .logout .btn3 .btn-chat .chat {
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff; }

.banner {
  overflow: hidden;
  position: relative; }

.banner2 {
  overflow: hidden;
  position: relative;
  margin-top: 30px; }

.box-contact, .contact .contact-left, .bg-full .contact .contact-right, .contact .contact-right {
  border-bottom: 1px solid #E9E9EB;
  background: white;
  display: inline-block;
  width: 100%;
  min-height: 167px; }

.contact {
  margin-bottom: 10px; }
  .contact .col-md-8 {
    padding-right: 0; }
  .contact .col-md-4 {
    padding-left: 0; }
  .contact .contact-left, .bg-full .contact .contact-right {
    border-left: 1px solid #E9E9EB;
    border-radius: 0 0 0 6px; }
  .contact .detail-contact {
    margin-left: 30%;
    padding-top: 20px; }
    .contact .detail-contact .postion-name {
      color: #777777;
      font-size: 16px;
      margin-bottom: 0; }
    .contact .detail-contact .name {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 32px;
      color: #333333; }
    .contact .detail-contact span {
      line-height: 186.3%;
      color: #313843;
      font-size: 16px;
      margin-left: 18px; }
  .contact .ava {
    position: absolute;
    margin-bottom: 26px;
    margin-left: 20px;
    bottom: 0; }
    .contact .ava img {
      width: 175px;
      height: 175px;
      border-radius: 50%; }
  .contact .contact-right {
    border-right: 1px solid #E9E9EB;
    border-radius: 0 0 6px 0;
    padding-left: 40%; }
    .contact .contact-right .btn1 {
      margin-bottom: 20px;
      margin-top: 30px; }
      .contact .contact-right .btn1 .btn-phone {
        background: #FFFFFF;
        border: 1px solid #777777;
        box-sizing: border-box;
        padding: 10px 34px;
        text-decoration: none; }
        .contact .contact-right .btn1 .btn-phone img {
          margin-bottom: 5px; }
        .contact .contact-right .btn1 .btn-phone .call {
          margin-left: 7px;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #777777; }
    .contact .contact-right .btn2 {
      margin-top: 25px; }
      .contact .contact-right .btn2 .btn-chat {
        transition: all .2s linear;
        background: #E66B4B;
        padding: 10px 42px;
        text-decoration: none; }
        .contact .contact-right .btn2 .btn-chat:hover {
          background-color: #F7C24A;
          color: white; }
        .contact .contact-right .btn2 .btn-chat .chat {
          margin-left: 7px;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff; }

.bg-full {
  background: white;
  margin-bottom: 10px; }
  .bg-full .contact {
    display: flex; }
    .bg-full .contact .ava {
      margin: 25px 0 15px 0;
      position: unset; }
    .bg-full .contact .contact-left, .bg-full .contact .contact-right {
      border-radius: 0;
      border: 0;
      display: flex; }
    .bg-full .contact .contact-right {
      display: block;
      padding-top: 20px; }
    .bg-full .contact .detail-contact {
      margin-left: 0;
      padding: 30px 30px 0px 40px; }

.xemthem, .xemchitiet a, .xemtatca a {
  font-family: "SF Pro Display Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration-line: underline; }

.xemchitiet a {
  color: #E66B4B; }

.xemtatca a {
  color: #ffffff;
  position: absolute;
  z-index: 999;
  bottom: 30px;
  left: 10px; }

.box-starrating {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  padding: 28px 20px 20px 20px;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  box-sizing: border-box;
  border-radius: 6px; }
  .box-starrating .list-star {
    display: inline-flex; }
    .box-starrating .list-star .bg-star a :hover {
      text-decoration: none;
      background-color: #E66B4B; }
    .box-starrating .list-star .bg-star a img {
      margin-right: 3px;
      background: #E8E8E8;
      border-radius: 1px;
      padding: 9px; }
  .box-starrating .number-rating, .box-starrating .number-rating2 {
    margin-left: 5px;
    margin-top: 3px;
    float: right;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 146.3%;
    color: #777777; }
  .box-starrating .number-rating2 {
    background: #FFFFFF;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 100%;
    margin: -10px 0 0px 16px;
    padding: 10px; }
  .box-starrating .text-rating {
    font-size: 14px;
    line-height: 146.3%;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 16px; }
  .box-starrating .btn3 {
    background-color: white;
    display: inline-block;
    margin: 18px 5px 24px 0; }
    .box-starrating .btn3 a:hover {
      text-decoration: none;
      border: 1px solid #E66B4B;
      background-color: #E66B4B;
      color: white; }
    .box-starrating .btn3 .review {
      transition: all .2s linear;
      margin-right: 5px;
      border: 1px solid #E66B4B;
      padding: 8px 30px;
      color: #E66B4B; }
    .box-starrating .btn3 .view {
      transition: all .2s linear;
      padding: 8px 30px;
      color: #777777;
      border: 1px solid #777777; }
      .box-starrating .btn3 .view a:hover {
        text-decoration: none;
        border: 1px solid #E66B4B;
        background-color: #E66B4B;
        color: white; }
  .box-starrating .about p {
    font-size: 13px;
    line-height: 186.3%;
    text-align: justify;
    color: #333333; }
  .box-starrating .about h5 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    text-align: justify;
    color: #333333; }
  .box-starrating .view-catelogy {
    text-align: center; }
    .box-starrating .view-catelogy .btn-view {
      font-size: 13px;
      color: #E66B4B;
      text-decoration: none; }
      .box-starrating .view-catelogy .btn-view i {
        color: #E66B4B; }
  .box-starrating .thumnails {
    position: relative;
    padding-top: 103%;
    display: block;
    overflow: hidden;
    margin-bottom: 10px; }
    .box-starrating .thumnails img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }
  .box-starrating .box-wrapper {
    text-align: center; }
    .box-starrating .box-wrapper a {
      font-size: 13px;
      line-height: 176.3%;
      text-align: center;
      color: #353F60;
      text-decoration: none; }
  .box-starrating .content {
    text-align: center; }
    .box-starrating .content p {
      text-align: center;
      font-size: 13px;
      line-height: 23px;
      color: #676767;
      margin-bottom: 0; }
    .box-starrating .content a {
      white-space: nowrap;
      text-decoration: none; }
      .box-starrating .content a span {
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        color: #313843; }
  .box-starrating .chiduong {
    position: absolute;
    display: flex;
    left: 69%;
    bottom: 84%; }
    .box-starrating .chiduong a {
      font-size: 14px;
      color: #E66B4B;
      margin-left: 2px;
      text-decoration: none; }

@media (max-width: 991px) {
  .header-top .search-box {
    width: 100%;
    margin: 10px 0; }

  .banner .contact-right {
    margin-left: 20px; }
  .banner .contact .contact-left, .banner .bg-full .contact .contact-right, .bg-full .banner .contact .contact-right {
    display: inline-block; }
  .banner .contact .detail-contact {
    margin-left: 20px; }

  .box-starrating .thum-img {
    margin: 0 5px 5px 0; }
  .box-starrating .inner-box {
    display: inline-flex;
    margin: 0 10px 0px 0; }
    .box-starrating .inner-box .content {
      margin-left: 10px; }
  .box-starrating .chiduong {
    bottom: 13%;
    left: 70%; } }
.text-search {
  color: #333333;
  font: 14px;
  margin-top: 28px; }

.list-search {
  padding: 15px 0 15px 25px;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  box-sizing: border-box;
  border-radius: 6px; }
  .list-search span {
    font-weight: 500;
    font-size: 14px;
    line-height: 143.5%;
    color: #676767;
    margin-left: 5px; }
  .list-search .text-search {
    display: contents;
    margin-right: 10px;
    font-size: 13px;
    color: #313843; }
  .list-search .content-srcoll .filter .col-md-2 {
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
    white-space: nowrap; }

.bg-white {
  margin-top: 20px;
  padding: 15px 20px 0 20px;
  background: #FFFFFF;
  border: 1px solid #E9E9EB;
  box-sizing: border-box;
  border-radius: 6px; }
  .bg-white .list {
    margin-top: 25px; }
    .bg-white .list img {
      width: 55px;
      height: 55px;
      border-radius: 100%;
      float: left;
      margin-bottom: 25px; }
  .bg-white .detail-address {
    line-height: 13px;
    display: inline-block;
    margin-left: 13px; }
    .bg-white .detail-address i {
      font-size: 13px;
      color: #E66B4B; }
  .bg-white .number-rating, .bg-white .box-starrating .number-rating2, .box-starrating .bg-white .number-rating2 {
    margin-left: 7px;
    font-size: 19px;
    color: #E66B4B; }
  .bg-white .cmt {
    color: #777777;
    font-size: 13px;
    text-decoration: underline;
    margin-left: 10px; }
  .bg-white .name-law {
    font-weight: 600;
    font-size: 14px;
    color: #333333; }
  .bg-white .address-phone {
    font-size: 14px;
    color: #676767; }
  .bg-white .item-news {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #DBDBDB; }
    .bg-white .item-news .title-law {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 12px;
      color: #A64D36; }
    .bg-white .item-news .title-news {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 16px;
      color: #313843; }
      .bg-white .item-news .title-news:hover {
        text-decoration: none;
        color: #A64D36; }
    .bg-white .item-news .detail-news {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      margin-top: 10px;
      font-size: 14px;
      color: #676767; }
      .bg-white .item-news .detail-news:hover {
        text-decoration: none; }
    .bg-white .item-news .author img {
      margin-top: 7px;
      margin-right: 5px;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      float: left; }
    .bg-white .item-news .author .star-rating {
      margin-bottom: 0; }
      .bg-white .item-news .author .star-rating i {
        font-size: 8px;
        color: #F7C24A; }
    .bg-white .item-news .author .nane-author {
      font-size: 12px;
      color: #676767; }
    .bg-white .item-news .author .detail-authour {
      display: inline-block; }
  .bg-white .title-large {
    font-weight: 600;
    font-size: 32px;
    line-height: 143.5%;
    color: #313843; }
  .bg-white .title-min {
    letter-spacing: 0.04em;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: #353F60;
    line-height: 311%;
    text-transform: uppercase; }
  .bg-white .title-min2 {
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 201%;
    color: #353F60; }
  .bg-white .title-min3 {
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: bold;
    line-height: 241%;
    color: #F8B64C; }
  .bg-white .downloadfile {
    display: flex;
    margin: 30px 0; }
    .bg-white .downloadfile img {
      width: 32px;
      height: 32px;
      margin: -10px 5px 0 0; }
    .bg-white .downloadfile .title-min4 a {
      letter-spacing: 0.04em;
      font-size: 14px;
      font-weight: 600;
      color: #333333; }
      .bg-white .downloadfile .title-min4 a:hover {
        color: #E66B4B;
        text-decoration: none; }

.center-document .back {
  margin: 40px 20px 0 0; }
  .center-document .back a img {
    margin-bottom: 10px; }
  .center-document .back a span {
    margin-left: 5px;
    margin-top: 4px;
    color: #E66B4B;
    font-weight: 600;
    font-size: 14px; }
  .center-document .back a:hover {
    text-decoration: none; }
.center-document .tab-vbpl .nav-tabs {
  border-color: #E9E9EB; }
  .center-document .tab-vbpl .nav-tabs li.active {
    color: #E66B4B;
    border-bottom: 1px solid #E66B4B; }
    .center-document .tab-vbpl .nav-tabs li.active a {
      color: #E66B4B;
      border-radius: 0;
      border: 0; }
  .center-document .tab-vbpl .nav-tabs li a {
    color: #777777; }

/*# sourceMappingURL=hanh.css.map */
